Node-RED-Study-Sample-Code/chapter_8_group_7_to_11_flows.json
[{"id":"1bc5c006.0fa51","type":"tab","label":"Project 7~11","disabled":false,"info":""},{"id":"15e94dd4.8a6602","type":"group","z":"1bc5c006.0fa51","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ff96856f.074d88","22af5792.7f24f8","db43940d.190d28","891a18e2.643558","b12451c7.4ac3f","ec6cc9a8.b8cca8","d04dbb1a.39ce18","ac266f20.61e0f","2d8da0a4.9f076","1176e522.a95e0b","9e171946.3a6e58","e4adccd7.b4407","c25e9972.068468","7b7ca8bb.a45ff8"],"x":54,"y":939,"w":822,"h":502},{"id":"216d8556.84c01a","type":"group","z":"1bc5c006.0fa51","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["81df3d26.b69e3","92ac6a28.a8c048","2f73a95f.2fdeb6","4a41bea5.02025","3ab13bcd.588db4","420c0bab.02fbc4"],"x":54,"y":1459,"w":632,"h":242},{"id":"56c495f2.140aac","type":"group","z":"1bc5c006.0fa51","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["cc678f0c.41bb5","374af75c.9bf688","2000d9b7.3bb816","6046d2ee.b9a87c","5de4423b.e6ee6c","835c7b.43217388","2cf6dce3.f6e144","9881596a.511e28","53153aa8.1f2274"],"x":74,"y":2479,"w":852,"h":262},{"id":"83a9b587.3311d8","type":"group","z":"1bc5c006.0fa51","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c7ce802f.1d006","888c179a.4d7448","4e3d898.3ded678","dc4314a0.7cf818","2c7523ea.7e924c","4bb36377.bea4ec"],"x":74,"y":2279,"w":832,"h":182},{"id":"869c9128.fc6bb","type":"group","z":"1bc5c006.0fa51","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["fecdf6e1.aec548","4b8f4cb9.3a5774","685b18a9.6d4bf8"],"x":54,"y":19,"w":1024,"h":894},{"id":"685b18a9.6d4bf8","type":"group","z":"1bc5c006.0fa51","g":"869c9128.fc6bb","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["766e8d38.34b794","7f96ac8d.f8d494","9c92b67c.e29c28"],"x":108,"y":253,"w":944,"h":634},{"id":"4b8f4cb9.3a5774","type":"group","z":"1bc5c006.0fa51","g":"869c9128.fc6bb","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["99a89d8d.21fa","53e86fae.affe","4d3e7d0f.b095b4","a4637d75.c65dd"],"x":114,"y":99,"w":532,"h":142},{"id":"766e8d38.34b794","type":"group","z":"1bc5c006.0fa51","g":"685b18a9.6d4bf8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a508c1f2.9ad4b","d960e2d5.a2ab","e04d57c1.2f8f38","d328fe7d.8ef84"],"x":134,"y":279,"w":532,"h":142},{"id":"9c92b67c.e29c28","type":"group","z":"1bc5c006.0fa51","g":"685b18a9.6d4bf8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b02d4cac.110b3","86138728.deee78","df7b4211.60b2e","8576c1ae.57de","bb0742fc.750e9"],"x":134,"y":439,"w":512,"h":182},{"id":"7f96ac8d.f8d494","type":"group","z":"1bc5c006.0fa51","g":"685b18a9.6d4bf8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["62fa438c.dc379c","98b554bf.3a0498","4871c41f.598b8c","ec4aa61d.1534e8","88352b0b.746538","33b9b65b.30555a","b673417b.1e705","794a286.26659d8","f1094066.2d7e7"],"x":134,"y":639,"w":892,"h":222},{"id":"98cd2ba5.c108a8","type":"group","z":"1bc5c006.0fa51","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e24b6933.20ed98","9519dfdf.aa268","66bf5224.74ff2c","b4322c8f.757f4","ea162471.4c5138","a4e8fdf5.f4cb4","6f2b3c44.3c59e4","f59fc87c.c33898"],"x":1114,"y":19,"w":612,"h":262},{"id":"c1cbf53b.67bcf8","type":"group","z":"1bc5c006.0fa51","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e803a398.5375d","cb3f595b.d2c128","9f4e2779.4649f8","9527d383.17e7a","6c27facd.2fee44","51e45352.7628ac","73acea9d.6b0ef4","fc1653bc.c1e04","c8d4e28f.1363b","e6fc876.4c56578","8846e69e.731788","d620caa0.3d2e28","26cb9cf2.3473f4"],"x":64,"y":1719,"w":722,"h":522},{"id":"b02d4cac.110b3","type":"http in","z":"1bc5c006.0fa51","g":"9c92b67c.e29c28","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":220,"y":560,"wires":[["86138728.deee78","df7b4211.60b2e"]]},{"id":"86138728.deee78","type":"debug","z":"1bc5c006.0fa51","g":"9c92b67c.e29c28","name":"MSG1 : Complete msg object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":520,"wires":[]},{"id":"df7b4211.60b2e","type":"template","z":"1bc5c006.0fa51","g":"9c92b67c.e29c28","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n<h2>로그인</h2>\n<form action=\"/login_check\">\n  아이디<br>\n  <input type=\"text\" id=\"id\" name=\"id\"><br>\n  비밀번호<br>\n  <input type=\"password\" id=\"pwd\" name=\"pwd\"><br>\n  <input type=\"submit\" value=\"전송\">\n</form> \n</body>\n</html>\n","output":"str","x":420,"y":580,"wires":[["8576c1ae.57de"]]},{"id":"8576c1ae.57de","type":"http response","z":"1bc5c006.0fa51","g":"9c92b67c.e29c28","name":"","statusCode":"","headers":{},"x":570,"y":580,"wires":[]},{"id":"62fa438c.dc379c","type":"http in","z":"1bc5c006.0fa51","g":"7f96ac8d.f8d494","name":"","url":"/login_check","method":"get","upload":false,"swaggerDoc":"","x":240,"y":760,"wires":[["98b554bf.3a0498"]]},{"id":"98b554bf.3a0498","type":"function","z":"1bc5c006.0fa51","g":"7f96ac8d.f8d494","name":"","func":"if( msg.payload.id == \"aaa\" && msg.payload.pwd == \"bbb\" ){\n    msg.payload.result = 1;\n}else{\n    msg.payload.result = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":760,"wires":[["4871c41f.598b8c","ec4aa61d.1534e8"]]},{"id":"4871c41f.598b8c","type":"debug","z":"1bc5c006.0fa51","g":"7f96ac8d.f8d494","name":"MSG2 : Complete msg object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":680,"wires":[]},{"id":"ec4aa61d.1534e8","type":"switch","z":"1bc5c006.0fa51","g":"7f96ac8d.f8d494","name":"","property":"payload.result","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":760,"wires":[["88352b0b.746538"],["33b9b65b.30555a"]]},{"id":"88352b0b.746538","type":"template","z":"1bc5c006.0fa51","g":"7f96ac8d.f8d494","name":"로그인 성공 화면③","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n\n<h1>방문을 환영 합니다.</h1>\n<p>입력하신 아이디는 {{payload.id}} 입니다.</p>\n<p><a href=\"/home2\">홈으로 가기</a></p>\n</body>\n</html>","output":"str","x":750,"y":720,"wires":[["b673417b.1e705"]]},{"id":"33b9b65b.30555a","type":"template","z":"1bc5c006.0fa51","g":"7f96ac8d.f8d494","name":"로그인 실패 화면④","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n\n<h1>일치하는 정보가 없습니다.</h1>\n<p><a href=\"/home2\">홈으로 가기</a></p>\n</body>\n</html>","output":"str","x":750,"y":800,"wires":[["b673417b.1e705"]]},{"id":"b673417b.1e705","type":"http response","z":"1bc5c006.0fa51","g":"7f96ac8d.f8d494","name":"","statusCode":"","headers":{},"x":950,"y":760,"wires":[]},{"id":"bb0742fc.750e9","type":"comment","z":"1bc5c006.0fa51","g":"9c92b67c.e29c28","name":"로그인 페이지 구현②","info":"","x":260,"y":480,"wires":[]},{"id":"794a286.26659d8","type":"comment","z":"1bc5c006.0fa51","g":"7f96ac8d.f8d494","name":"↑ ID : aaa, PWD : bbb 입력값을 검증","info":"","x":460,"y":820,"wires":[]},{"id":"a508c1f2.9ad4b","type":"http in","z":"1bc5c006.0fa51","g":"766e8d38.34b794","name":"","url":"/home2","method":"get","upload":false,"swaggerDoc":"","x":230,"y":380,"wires":[["d960e2d5.a2ab"]]},{"id":"d960e2d5.a2ab","type":"template","z":"1bc5c006.0fa51","g":"766e8d38.34b794","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n\n<h1>나의 첫번째 Node-RED 홈페이지 입니다.</h1>\n<p><a href=\"/login\">로그인 하기</a></p>\n\n</body>\n</html>","output":"str","x":420,"y":380,"wires":[["e04d57c1.2f8f38"]]},{"id":"e04d57c1.2f8f38","type":"http response","z":"1bc5c006.0fa51","g":"766e8d38.34b794","name":"","statusCode":"","headers":{},"x":590,"y":380,"wires":[]},{"id":"d328fe7d.8ef84","type":"comment","z":"1bc5c006.0fa51","g":"766e8d38.34b794","name":"홈페이지 구현①","info":"","x":240,"y":320,"wires":[]},{"id":"99a89d8d.21fa","type":"http in","z":"1bc5c006.0fa51","g":"4b8f4cb9.3a5774","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":200,"y":200,"wires":[["53e86fae.affe"]]},{"id":"53e86fae.affe","type":"template","z":"1bc5c006.0fa51","g":"4b8f4cb9.3a5774","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n\n<h1>Node-RED 홈페이지 입니다.</h1>\n\n</body>\n</html>","output":"str","x":400,"y":200,"wires":[["4d3e7d0f.b095b4"]]},{"id":"4d3e7d0f.b095b4","type":"http response","z":"1bc5c006.0fa51","g":"4b8f4cb9.3a5774","name":"","statusCode":"","headers":{},"x":570,"y":200,"wires":[]},{"id":"a4637d75.c65dd","type":"comment","z":"1bc5c006.0fa51","g":"4b8f4cb9.3a5774","name":"홈페이지 구현","info":"","x":210,"y":140,"wires":[]},{"id":"f1094066.2d7e7","type":"comment","z":"1bc5c006.0fa51","g":"7f96ac8d.f8d494","name":"로그인 결과 화면③④","info":"","x":260,"y":700,"wires":[]},{"id":"81df3d26.b69e3","type":"openweathermap","z":"1bc5c006.0fa51","g":"216d8556.84c01a","name":"서울 날씨","wtype":"current","lon":"","lat":"","city":"Seoul","country":"Korea","language":"kr","x":360,"y":1540,"wires":[["92ac6a28.a8c048"]]},{"id":"92ac6a28.a8c048","type":"debug","z":"1bc5c006.0fa51","g":"216d8556.84c01a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":1540,"wires":[]},{"id":"2f73a95f.2fdeb6","type":"inject","z":"1bc5c006.0fa51","g":"216d8556.84c01a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1540,"wires":[["81df3d26.b69e3","4a41bea5.02025","3ab13bcd.588db4"]]},{"id":"4a41bea5.02025","type":"openweathermap","z":"1bc5c006.0fa51","g":"216d8556.84c01a","name":"부산 날씨","wtype":"current","lon":"","lat":"","city":"Busan","country":"Korea","language":"kr","x":360,"y":1600,"wires":[["92ac6a28.a8c048"]]},{"id":"3ab13bcd.588db4","type":"openweathermap","z":"1bc5c006.0fa51","g":"216d8556.84c01a","name":"제주도 날씨","wtype":"current","lon":"","lat":"","city":"Jeju-do","country":"Korea","language":"kr","x":370,"y":1660,"wires":[["92ac6a28.a8c048"]]},{"id":"420c0bab.02fbc4","type":"comment","z":"1bc5c006.0fa51","g":"216d8556.84c01a","name":"8.9 OpenWeather를 활용한 날씨 조회하기","info":"openweathermap.org ","x":240,"y":1500,"wires":[]},{"id":"e803a398.5375d","type":"play audio","z":"1bc5c006.0fa51","g":"c1cbf53b.67bcf8","name":"","voice":"0","x":450,"y":2020,"wires":[]},{"id":"cb3f595b.d2c128","type":"inject","z":"1bc5c006.0fa51","g":"c1cbf53b.67bcf8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"이것은 얼마 입니까?","payloadType":"str","x":210,"y":2020,"wires":[["e803a398.5375d"]]},{"id":"9f4e2779.4649f8","type":"ui_text_input","z":"1bc5c006.0fa51","g":"c1cbf53b.67bcf8","name":"","label":"번역할 한국어를 입력하세요.","tooltip":"","group":"f055e784.423d88","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":"1000","topic":"","x":220,"y":2180,"wires":[["9527d383.17e7a"]]},{"id":"9527d383.17e7a","type":"google-translate","z":"1bc5c006.0fa51","g":"c1cbf53b.67bcf8","name":"","to":"en","x":460,"y":2180,"wires":[["51e45352.7628ac","6c27facd.2fee44"]]},{"id":"6c27facd.2fee44","type":"ui_audio","z":"1bc5c006.0fa51","g":"c1cbf53b.67bcf8","name":"","group":"f055e784.423d88","voice":"en-US","always":false,"x":640,"y":2200,"wires":[]},{"id":"51e45352.7628ac","type":"ui_text","z":"1bc5c006.0fa51","g":"c1cbf53b.67bcf8","group":"f055e784.423d88","order":4,"width":"6","height":"2","name":"","label":"영어로 변역된 결과","format":"{{msg.payload}}","layout":"col-center","x":670,"y":2140,"wires":[]},{"id":"73acea9d.6b0ef4","type":"inject","z":"1bc5c006.0fa51","g":"c1cbf53b.67bcf8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"이것은 얼마 입니까?","payloadType":"str","x":210,"y":1880,"wires":[["fc1653bc.c1e04"]]},{"id":"fc1653bc.c1e04","type":"google-translate","z":"1bc5c006.0fa51","g":"c1cbf53b.67bcf8","name":"","to":"en","x":420,"y":1880,"wires":[["c8d4e28f.1363b"]]},{"id":"c8d4e28f.1363b","type":"debug","z":"1bc5c006.0fa51","g":"c1cbf53b.67bcf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":1880,"wires":[]},{"id":"e6fc876.4c56578","type":"comment","z":"1bc5c006.0fa51","g":"c1cbf53b.67bcf8","name":"한글을 영어로 번역하기","info":"","x":200,"y":1820,"wires":[]},{"id":"8846e69e.731788","type":"comment","z":"1bc5c006.0fa51","g":"c1cbf53b.67bcf8","name":"한글을 음성으로 출력하기","info":"","x":210,"y":1960,"wires":[]},{"id":"d620caa0.3d2e28","type":"comment","z":"1bc5c006.0fa51","g":"c1cbf53b.67bcf8","name":"한글로 입력된 내용을 영어로 번역 후 음성으로 출력하기","info":"","x":300,"y":2120,"wires":[]},{"id":"26cb9cf2.3473f4","type":"comment","z":"1bc5c006.0fa51","g":"c1cbf53b.67bcf8","name":"8.10 Google 번역 연동 및 TTS 만들기(Text-to-Speech)","info":"","x":290,"y":1760,"wires":[]},{"id":"cc678f0c.41bb5","type":"telegram receiver","z":"1bc5c006.0fa51","g":"56c495f2.140aac","name":"","bot":"143a6b52.fdd965","saveDataDir":"","filterCommands":false,"x":210,"y":2600,"wires":[["374af75c.9bf688","6046d2ee.b9a87c","53153aa8.1f2274"],["6046d2ee.b9a87c","53153aa8.1f2274"]]},{"id":"374af75c.9bf688","type":"debug","z":"1bc5c006.0fa51","g":"56c495f2.140aac","name":"수신받은 메시지","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":2560,"wires":[]},{"id":"2000d9b7.3bb816","type":"telegram sender","z":"1bc5c006.0fa51","g":"56c495f2.140aac","name":"","bot":"143a6b52.fdd965","x":590,"y":2640,"wires":[["5de4423b.e6ee6c"]]},{"id":"6046d2ee.b9a87c","type":"function","z":"1bc5c006.0fa51","g":"56c495f2.140aac","name":"","func":"msg.payload.content = \"Bot Echo : \" + msg.payload.content;\nmsg.payload.chatId = msg.payload.chatId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":2640,"wires":[["2000d9b7.3bb816"]]},{"id":"5de4423b.e6ee6c","type":"debug","z":"1bc5c006.0fa51","g":"56c495f2.140aac","name":"응답한 메시지","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":2640,"wires":[]},{"id":"835c7b.43217388","type":"comment","z":"1bc5c006.0fa51","g":"56c495f2.140aac","name":"8.11 Telegram Bot 만들기(Http노드 이용)","info":"","x":260,"y":2520,"wires":[]},{"id":"2cf6dce3.f6e144","type":"http request","z":"1bc5c006.0fa51","g":"56c495f2.140aac","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1209615657:AAEdmsC23VlQatR8HBxsIHTVrPvh1rXxzh4/sendMessage?chat_id={{{payload.chatId}}}&text={{{payload.content}}}","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":2700,"wires":[["9881596a.511e28"]]},{"id":"9881596a.511e28","type":"debug","z":"1bc5c006.0fa51","g":"56c495f2.140aac","name":"웹을 통한 응답 메시지","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":2700,"wires":[]},{"id":"53153aa8.1f2274","type":"function","z":"1bc5c006.0fa51","g":"56c495f2.140aac","name":"","func":"msg.payload.content = encodeURI(\"Http node Echo : \" + msg.payload.content);\nmsg.payload.chatId = msg.payload.chatId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":2700,"wires":[["2cf6dce3.f6e144"]]},{"id":"c7ce802f.1d006","type":"telegram receiver","z":"1bc5c006.0fa51","g":"83a9b587.3311d8","name":"","bot":"143a6b52.fdd965","saveDataDir":"","filterCommands":false,"x":210,"y":2380,"wires":[["888c179a.4d7448","dc4314a0.7cf818"],["dc4314a0.7cf818"]]},{"id":"888c179a.4d7448","type":"debug","z":"1bc5c006.0fa51","g":"83a9b587.3311d8","name":"수신받은 메시지","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":2340,"wires":[]},{"id":"4e3d898.3ded678","type":"telegram sender","z":"1bc5c006.0fa51","g":"83a9b587.3311d8","name":"","bot":"143a6b52.fdd965","x":590,"y":2420,"wires":[["2c7523ea.7e924c"]]},{"id":"dc4314a0.7cf818","type":"function","z":"1bc5c006.0fa51","g":"83a9b587.3311d8","name":"","func":"msg.payload.content = \"Bot Echo : \" + msg.payload.content;\nmsg.payload.chatId = msg.payload.chatId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":2420,"wires":[["4e3d898.3ded678"]]},{"id":"2c7523ea.7e924c","type":"debug","z":"1bc5c006.0fa51","g":"83a9b587.3311d8","name":"응답한 메시지","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":2420,"wires":[]},{"id":"4bb36377.bea4ec","type":"comment","z":"1bc5c006.0fa51","g":"83a9b587.3311d8","name":"8.11 Telegram Bot 만들기","info":"","x":210,"y":2320,"wires":[]},{"id":"fecdf6e1.aec548","type":"comment","z":"1bc5c006.0fa51","g":"869c9128.fc6bb","name":"8.7 Web Service 만들기","info":"","x":180,"y":60,"wires":[]},{"id":"e24b6933.20ed98","type":"websocket in","z":"1bc5c006.0fa51","g":"98cd2ba5.c108a8","name":"","server":"cefa8873.431158","client":"","x":1290,"y":180,"wires":[["b4322c8f.757f4"]]},{"id":"9519dfdf.aa268","type":"websocket out","z":"1bc5c006.0fa51","g":"98cd2ba5.c108a8","name":"","server":"cefa8873.431158","client":"","x":1570,"y":120,"wires":[]},{"id":"66bf5224.74ff2c","type":"inject","z":"1bc5c006.0fa51","g":"98cd2ba5.c108a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"테스트 스트링","payloadType":"str","x":1250,"y":120,"wires":[["9519dfdf.aa268"]]},{"id":"b4322c8f.757f4","type":"debug","z":"1bc5c006.0fa51","g":"98cd2ba5.c108a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1590,"y":180,"wires":[]},{"id":"ea162471.4c5138","type":"comment","z":"1bc5c006.0fa51","g":"98cd2ba5.c108a8","name":"기타 샘플 : WebSoket ","info":"https://www.websocket.org/echo.html","x":1240,"y":60,"wires":[]},{"id":"a4e8fdf5.f4cb4","type":"http in","z":"1bc5c006.0fa51","g":"98cd2ba5.c108a8","name":"","url":"/ws","method":"get","upload":false,"swaggerDoc":"","x":1220,"y":240,"wires":[["6f2b3c44.3c59e4"]]},{"id":"6f2b3c44.3c59e4","type":"template","z":"1bc5c006.0fa51","g":"98cd2ba5.c108a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <!DOCTYPE html>\n  <meta charset=\"utf-8\" />\n  <title>WebSocket Test</title>\n  <script language=\"javascript\" type=\"text/javascript\">\n\n  var wsUri = \"wss://echo.websocket.org/\";\n  var output;\n\n  function init()\n  {\n    output = document.getElementById(\"output\");\n    testWebSocket();\n  }\n\n  function testWebSocket()\n  {\n    websocket = new WebSocket(wsUri);\n    websocket.onopen = function(evt) { onOpen(evt) };\n    websocket.onclose = function(evt) { onClose(evt) };\n    websocket.onmessage = function(evt) { onMessage(evt) };\n    websocket.onerror = function(evt) { onError(evt) };\n  }\n\n  function onOpen(evt)\n  {\n    writeToScreen(\"CONNECTED\");\n    doSend(\"WebSocket rocks\");\n  }\n\n  function onClose(evt)\n  {\n    writeToScreen(\"DISCONNECTED\");\n  }\n\n  function onMessage(evt)\n  {\n    writeToScreen('<span style=\"color: blue;\">RESPONSE: ' + evt.data+'</span>');\n    websocket.close();\n  }\n\n  function onError(evt)\n  {\n    writeToScreen('<span style=\"color: red;\">ERROR:</span> ' + evt.data);\n  }\n\n  function doSend(message)\n  {\n    writeToScreen(\"SENT: \" + message);\n    websocket.send(message);\n  }\n\n  function writeToScreen(message)\n  {\n    var pre = document.createElement(\"p\");\n    pre.style.wordWrap = \"break-word\";\n    pre.innerHTML = message;\n    output.appendChild(pre);\n  }\n\n  window.addEventListener(\"load\", init, false);\n\n  </script>\n\n  <h2>WebSocket Test</h2>\n\n  <div id=\"output\"></div>","output":"str","x":1400,"y":240,"wires":[["f59fc87c.c33898"]]},{"id":"f59fc87c.c33898","type":"http response","z":"1bc5c006.0fa51","g":"98cd2ba5.c108a8","name":"","statusCode":"","headers":{},"x":1570,"y":240,"wires":[]},{"id":"ff96856f.074d88","type":"inject","z":"1bc5c006.0fa51","g":"15e94dd4.8a6602","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Node-RED를 통한 첫번째 트윗!!!","payloadType":"str","x":270,"y":1100,"wires":[["db43940d.190d28"]]},{"id":"22af5792.7f24f8","type":"comment","z":"1bc5c006.0fa51","g":"15e94dd4.8a6602","name":"8.8 Twitter 연동하기","info":"","x":170,"y":980,"wires":[]},{"id":"db43940d.190d28","type":"twitter out","z":"1bc5c006.0fa51","g":"15e94dd4.8a6602","twitter":"","name":"Tweet","x":550,"y":1100,"wires":[]},{"id":"891a18e2.643558","type":"inject","z":"1bc5c006.0fa51","g":"15e94dd4.8a6602","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1220,"wires":[["ec6cc9a8.b8cca8"]]},{"id":"b12451c7.4ac3f","type":"change","z":"1bc5c006.0fa51","g":"15e94dd4.8a6602","name":"","rules":[{"t":"set","p":"media","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"이미지를 첨부한 트윗!!!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1220,"wires":[["d04dbb1a.39ce18"]]},{"id":"ec6cc9a8.b8cca8","type":"file in","z":"1bc5c006.0fa51","g":"15e94dd4.8a6602","name":"","filename":"D:\\dev.JPG","format":"","chunk":false,"sendError":false,"encoding":"none","x":400,"y":1220,"wires":[["b12451c7.4ac3f"]]},{"id":"d04dbb1a.39ce18","type":"twitter out","z":"1bc5c006.0fa51","g":"15e94dd4.8a6602","twitter":"","name":"Tweet","x":800,"y":1220,"wires":[]},{"id":"ac266f20.61e0f","type":"comment","z":"1bc5c006.0fa51","g":"15e94dd4.8a6602","name":"텍스트 트윗 등록","info":"","x":200,"y":1060,"wires":[]},{"id":"2d8da0a4.9f076","type":"comment","z":"1bc5c006.0fa51","g":"15e94dd4.8a6602","name":"텍스트 + 이미지 트윗 등록","info":"","x":230,"y":1180,"wires":[]},{"id":"1176e522.a95e0b","type":"twitter in","z":"1bc5c006.0fa51","g":"15e94dd4.8a6602","twitter":"","tags":"","user":"user","name":"","inputs":1,"x":170,"y":1340,"wires":[["9e171946.3a6e58"]]},{"id":"9e171946.3a6e58","type":"debug","z":"1bc5c006.0fa51","g":"15e94dd4.8a6602","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":1340,"wires":[]},{"id":"e4adccd7.b4407","type":"comment","z":"1bc5c006.0fa51","g":"15e94dd4.8a6602","name":"특정 사용자 트윗 수신","info":"","x":220,"y":1300,"wires":[]},{"id":"c25e9972.068468","type":"twitter in","z":"1bc5c006.0fa51","g":"15e94dd4.8a6602","twitter":"","tags":"#Trump","user":"false","name":"Trump 로 태그가 작성된 트윗 수신","inputs":1,"x":260,"y":1400,"wires":[["7b7ca8bb.a45ff8"]]},{"id":"7b7ca8bb.a45ff8","type":"debug","z":"1bc5c006.0fa51","g":"15e94dd4.8a6602","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":1400,"wires":[]},{"id":"f055e784.423d88","type":"ui_group","z":"","name":"Google","tab":"184a6ecd.7be501","order":1,"disp":true,"width":"6","collapse":false},{"id":"143a6b52.fdd965","type":"telegram bot","z":"","botname":"Node-RED-Echo-bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"cefa8873.431158","type":"websocket-listener","z":"","path":"wss://echo.websocket.org","wholemsg":"false"},{"id":"184a6ecd.7be501","type":"ui_tab","z":"","name":"Translate & SST","icon":"dashboard","disabled":false,"hidden":false}]