Node-RED-Study-Sample-Code/chapter_6_flows.json
[{"id":"a2a44461.0d2168","type":"tab","label":"6. Node-Sample","disabled":false,"info":""},{"id":"15462863.c9c8c8","type":"group","z":"a2a44461.0d2168","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e194b238.77732","c4f7d5ec.a3bd58","ff9743b5.e8d68","124c3a53.4716c6","a98f0c88.fe77f"],"x":34,"y":599,"w":472,"h":202},{"id":"46f95cf7.cbe4a4","type":"group","z":"a2a44461.0d2168","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["6a3d93cf.c87d8c","9ce47ab9.8ab288","f6d80400.0c5468","6c98300d.dc5ef","1e991f0a.943351"],"x":34,"y":1279,"w":432,"h":222},{"id":"4717bec6.01d64","type":"group","z":"a2a44461.0d2168","name":"그룹화 영역","style":{"label":true,"stroke":"#0070c0","color":"#ff0000"},"nodes":["175def8b.f5fcb","88a2b4fb.4c07d8","4ec7dee.61a492","1126113b.c015ff","32efd466.15d77c","e4dfede8.9b6ef"],"x":34,"y":819,"w":452,"h":222},{"id":"5fa0ccbf.0a7714","type":"group","z":"a2a44461.0d2168","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7d4bcd70.496f34","fd2101f9.e73c2","ddd538bb.a19308","89131754.456998","f6524745.323388","ee313922.f27c18","6134cb00.813804","9cb73dac.ce1ba","dc105c43.4b9b8","7cd45479.69578c"],"x":834,"y":159,"w":652,"h":422},{"id":"a8ece3f6.fe909","type":"group","z":"a2a44461.0d2168","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8483d575.9b8788","15b1a00d.75d5c","d98e3691.9e88a8","10a093ba.2e257c","7204d576.e224bc"],"x":34,"y":1059,"w":452,"h":202},{"id":"b470edf3.0cf04","type":"group","z":"a2a44461.0d2168","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["1db78544.e71e9b","1b378d49.2cf033","5c9cd0b4.dd1b2","80d5238f.7be64","9b36708f.64a4f","cfb5c001.a6ab9"],"x":34,"y":159,"w":652,"h":222},{"id":"b5aa6a10.4c5488","type":"group","z":"a2a44461.0d2168","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["54eddab3.16ebe4","415123d8.aad7fc","2fb13d46.18f662","7ba043d4.b4cbfc","21644041.30ef7","195f4688.1d71a9"],"x":34,"y":399,"w":672,"h":182},{"id":"c7cb2af8.61a098","type":"group","z":"a2a44461.0d2168","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f470debe.69c9d","70719bff.d08874","eb9c316.62cecd","9c2d85c6.2f9708","a6867668.7e6d28","cd378fef.6b8ae","406cbe58.7a77b","1c8b0c6f.c2a834","6971f7ce.be1658","95cc33c0.d818d"],"x":844,"y":2119,"w":602,"h":369.5},{"id":"ca392356.687ba","type":"group","z":"a2a44461.0d2168","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["20ed572a.86e618","3a32e6f8.567c2a","dc13b18d.bc06b","3d6b1fb7.570cb","35cb69aa.31a2d6","d0f58a70.1d7ad8","db68e557.40d0b8","5c9362ae.bf7d6c","8144b80d.fdb378"],"x":34,"y":2039,"w":712,"h":242},{"id":"caace462.3d20e8","type":"group","z":"a2a44461.0d2168","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["52830454.ba0adc","a649e5c3.cf1b98","2a0465be.73f85a","ff29d2e6.c8ff9","256e71e1.61e9ae","1f13738b.8a67cc","4f33864b.1711f8","8abbabda.b5f288","fadb927e.acde8","c2fcd365.76a8c","607586b1.454188","ec55f59.89f2408"],"x":834,"y":599,"w":832,"h":222},{"id":"e02c8f1f.93a7a","type":"group","z":"a2a44461.0d2168","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8815fce5.be5ca","2b3b0786.db96d8","adaea41d.526f18","e04b6ccd.dcccf","ad7587c1.735e28","f9d3686.3859398","de0658f9.ff6b38","35a6efc9.462ba","36daf5bb.bd93aa","9289eb24.5957d8","5555343.06ea4cc","27945561.69b97a","7f09d22b.a3498c"],"x":834,"y":1799,"w":952,"h":302},{"id":"ec6c57b8.6ccf48","type":"group","z":"a2a44461.0d2168","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7812c907.da1998","4e933249.4d4ffc","5a4b26da.3b4258","d332f790.029fc8","6c11320.6a4c6d","18a0199b.8e8fc6","a84b7b6c.acb238","ebb516b6.d0a318","a30dbbc2.44e1f8","ee41e54e.0496a8","ee125b46.ce3448","1687bc2e.917ca4","96a8c4dc.e41728","36d84d6e.b81302","165d9b6d.442835","f6df7997.e471a8"],"x":34,"y":1599,"w":752,"h":422},{"id":"fb5fbd70.62a1f","type":"group","z":"a2a44461.0d2168","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["4d735ebe.a6362","7b7dcc8a.91c614","3d584e17.703622","244faec5.afced2","f00385d2.38cf78","f7369446.fe73f8","4de0f096.5de45","f74cba9b.3db9a8","c26978f1.c875a8","95046940.ae5ea8","9ef62193.97414","3529e07e.8231","4a9b5dc3.3ef834","5159423b.930b7c","276f3f0b.7e78b","e591ee0a.85855"],"x":828,"y":839,"w":884,"h":948},{"id":"276f3f0b.7e78b","type":"group","z":"a2a44461.0d2168","g":"fb5fbd70.62a1f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8c01dd3a.4b63d","1e7ce987.29b326","76072bc9.7ea564","197f46e2.efe1c9","39b770ae.649d","dd355bfc.1dc658"],"x":854,"y":1639,"w":832,"h":122},{"id":"e591ee0a.85855","type":"group","z":"a2a44461.0d2168","g":"fb5fbd70.62a1f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5dbad044.b2e99","ca4a07bb.0cb968","b0a2c24e.f41a3","6c54142e.0d84ec","90978899.31c9a8","d9873e3.a989ac","41b325ba.376d5c"],"x":854,"y":1339,"w":612,"h":282},{"id":"1db78544.e71e9b","type":"switch","z":"a2a44461.0d2168","g":"b470edf3.0cf04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ABC","vt":"str"},{"t":"eq","v":"DEF","vt":"str"},{"t":"eq","v":"ABC","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":280,"wires":[["5c9cd0b4.dd1b2"],["80d5238f.7be64"],["9b36708f.64a4f"]]},{"id":"1b378d49.2cf033","type":"inject","z":"a2a44461.0d2168","g":"b470edf3.0cf04","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ABC","payloadType":"str","x":210,"y":280,"wires":[["1db78544.e71e9b"]]},{"id":"5c9cd0b4.dd1b2","type":"debug","z":"a2a44461.0d2168","g":"b470edf3.0cf04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":220,"wires":[]},{"id":"80d5238f.7be64","type":"debug","z":"a2a44461.0d2168","g":"b470edf3.0cf04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":280,"wires":[]},{"id":"9b36708f.64a4f","type":"debug","z":"a2a44461.0d2168","g":"b470edf3.0cf04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":340,"wires":[]},{"id":"54eddab3.16ebe4","type":"template","z":"a2a44461.0d2168","g":"b5aa6a10.4c5488","name":"{{payload}}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !\n","output":"str","x":430,"y":480,"wires":[["415123d8.aad7fc"]]},{"id":"415123d8.aad7fc","type":"debug","z":"a2a44461.0d2168","g":"b5aa6a10.4c5488","name":"{{ 출력 }}","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":480,"wires":[]},{"id":"cfb5c001.a6ab9","type":"comment","z":"a2a44461.0d2168","g":"b470edf3.0cf04","name":"6.5 Switch 노드 샘플","info":"","x":150,"y":200,"wires":[]},{"id":"2fb13d46.18f662","type":"comment","z":"a2a44461.0d2168","g":"b5aa6a10.4c5488","name":"6.6 Template 노드","info":"","x":150,"y":440,"wires":[]},{"id":"7ba043d4.b4cbfc","type":"inject","z":"a2a44461.0d2168","g":"b5aa6a10.4c5488","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"<b>TEST-STRING</b>","payloadType":"str","x":200,"y":500,"wires":[["21644041.30ef7","54eddab3.16ebe4"]]},{"id":"21644041.30ef7","type":"template","z":"a2a44461.0d2168","g":"b5aa6a10.4c5488","name":"{{{payload}}}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{{payload}}} !\n","output":"str","x":430,"y":540,"wires":[["195f4688.1d71a9"]]},{"id":"195f4688.1d71a9","type":"debug","z":"a2a44461.0d2168","g":"b5aa6a10.4c5488","name":"{{{ 출력 }}}","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":540,"wires":[]},{"id":"e194b238.77732","type":"complete","z":"a2a44461.0d2168","g":"15462863.c9c8c8","name":"","scope":["ff9743b5.e8d68"],"uncaught":false,"x":170,"y":760,"wires":[["124c3a53.4716c6"]]},{"id":"c4f7d5ec.a3bd58","type":"inject","z":"a2a44461.0d2168","g":"15462863.c9c8c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":700,"wires":[["ff9743b5.e8d68"]]},{"id":"ff9743b5.e8d68","type":"debug","z":"a2a44461.0d2168","g":"15462863.c9c8c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":700,"wires":[]},{"id":"124c3a53.4716c6","type":"debug","z":"a2a44461.0d2168","g":"15462863.c9c8c8","name":"완료시 출력","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":760,"wires":[]},{"id":"a98f0c88.fe77f","type":"comment","z":"a2a44461.0d2168","g":"15462863.c9c8c8","name":"6.7 Complete 노드","info":"","x":150,"y":640,"wires":[]},{"id":"175def8b.f5fcb","type":"comment","z":"a2a44461.0d2168","g":"4717bec6.01d64","name":"6.8 link in / link out","info":"","x":150,"y":860,"wires":[]},{"id":"88a2b4fb.4c07d8","type":"inject","z":"a2a44461.0d2168","g":"4717bec6.01d64","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":920,"wires":[["4ec7dee.61a492"]]},{"id":"4ec7dee.61a492","type":"function","z":"a2a44461.0d2168","g":"4717bec6.01d64","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":920,"wires":[["1126113b.c015ff"]]},{"id":"1126113b.c015ff","type":"link out","z":"a2a44461.0d2168","g":"4717bec6.01d64","name":"링크종료점","links":["e4dfede8.9b6ef"],"x":445,"y":920,"wires":[]},{"id":"32efd466.15d77c","type":"debug","z":"a2a44461.0d2168","g":"4717bec6.01d64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":1000,"wires":[]},{"id":"e4dfede8.9b6ef","type":"link in","z":"a2a44461.0d2168","g":"4717bec6.01d64","name":"링크시작점","links":["1126113b.c015ff"],"x":175,"y":1000,"wires":[["32efd466.15d77c"]]},{"id":"8483d575.9b8788","type":"catch","z":"a2a44461.0d2168","g":"a8ece3f6.fe909","name":"","scope":["15b1a00d.75d5c"],"uncaught":false,"x":170,"y":1220,"wires":[["d98e3691.9e88a8"]]},{"id":"15b1a00d.75d5c","type":"function","z":"a2a44461.0d2168","g":"a8ece3f6.fe909","name":"장애 발생 함수","func":"node.error(\"에러를 발생 합니다.\", msg);   \n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1160,"wires":[[]]},{"id":"d98e3691.9e88a8","type":"debug","z":"a2a44461.0d2168","g":"a8ece3f6.fe909","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":1220,"wires":[]},{"id":"10a093ba.2e257c","type":"inject","z":"a2a44461.0d2168","g":"a8ece3f6.fe909","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1160,"wires":[["15b1a00d.75d5c"]]},{"id":"7204d576.e224bc","type":"comment","z":"a2a44461.0d2168","g":"a8ece3f6.fe909","name":"6.9 catch ","info":"","x":120,"y":1100,"wires":[]},{"id":"6a3d93cf.c87d8c","type":"inject","z":"a2a44461.0d2168","g":"46f95cf7.cbe4a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello, World!","payloadType":"str","x":170,"y":1380,"wires":[["6c98300d.dc5ef"]]},{"id":"9ce47ab9.8ab288","type":"debug","z":"a2a44461.0d2168","g":"46f95cf7.cbe4a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":1460,"wires":[]},{"id":"f6d80400.0c5468","type":"status","z":"a2a44461.0d2168","g":"46f95cf7.cbe4a4","name":"","scope":["6c98300d.dc5ef"],"x":180,"y":1460,"wires":[["9ce47ab9.8ab288"]]},{"id":"6c98300d.dc5ef","type":"debug","z":"a2a44461.0d2168","g":"46f95cf7.cbe4a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":350,"y":1380,"wires":[]},{"id":"1e991f0a.943351","type":"comment","z":"a2a44461.0d2168","g":"46f95cf7.cbe4a4","name":"6.10 status","info":"","x":120,"y":1320,"wires":[]},{"id":"7812c907.da1998","type":"debug","z":"a2a44461.0d2168","g":"ec6c57b8.6ccf48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1740,"wires":[]},{"id":"4e933249.4d4ffc","type":"split","z":"a2a44461.0d2168","g":"ec6c57b8.6ccf48","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":500,"y":1740,"wires":[["7812c907.da1998"]]},{"id":"5a4b26da.3b4258","type":"template","z":"a2a44461.0d2168","g":"ec6c57b8.6ccf48","name":"data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"ABCDEF\n123456\n가나다마","output":"str","x":360,"y":1740,"wires":[["4e933249.4d4ffc"]]},{"id":"d332f790.029fc8","type":"inject","z":"a2a44461.0d2168","g":"ec6c57b8.6ccf48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":1740,"wires":[["5a4b26da.3b4258"]]},{"id":"6c11320.6a4c6d","type":"comment","z":"a2a44461.0d2168","g":"ec6c57b8.6ccf48","name":"split string 타입","info":"","x":160,"y":1680,"wires":[]},{"id":"18a0199b.8e8fc6","type":"debug","z":"a2a44461.0d2168","g":"ec6c57b8.6ccf48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1860,"wires":[]},{"id":"a84b7b6c.acb238","type":"split","z":"a2a44461.0d2168","g":"ec6c57b8.6ccf48","name":"","splt":"\\n","spltType":"str","arraySplt":"2","arraySpltType":"len","stream":false,"addname":"","x":500,"y":1860,"wires":[["18a0199b.8e8fc6"]]},{"id":"ebb516b6.d0a318","type":"template","z":"a2a44461.0d2168","g":"ec6c57b8.6ccf48","name":"data","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"[\n\"ABCDEF\",\n\"123456\",\n\"가나다마\"\n]","output":"json","x":360,"y":1860,"wires":[["a84b7b6c.acb238"]]},{"id":"a30dbbc2.44e1f8","type":"inject","z":"a2a44461.0d2168","g":"ec6c57b8.6ccf48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":1860,"wires":[["ebb516b6.d0a318"]]},{"id":"ee41e54e.0496a8","type":"comment","z":"a2a44461.0d2168","g":"ec6c57b8.6ccf48","name":"split array 타입","info":"","x":160,"y":1800,"wires":[]},{"id":"ee125b46.ce3448","type":"debug","z":"a2a44461.0d2168","g":"ec6c57b8.6ccf48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":1980,"wires":[]},{"id":"1687bc2e.917ca4","type":"split","z":"a2a44461.0d2168","g":"ec6c57b8.6ccf48","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"topic","x":500,"y":1980,"wires":[["ee125b46.ce3448"]]},{"id":"96a8c4dc.e41728","type":"template","z":"a2a44461.0d2168","g":"ec6c57b8.6ccf48","name":"data","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n\"key1\":\"ABCDEF\",\n\"key2\":\"123456\",\n\"key3\":\"가나다마\"\n}","output":"json","x":360,"y":1980,"wires":[["1687bc2e.917ca4"]]},{"id":"36d84d6e.b81302","type":"inject","z":"a2a44461.0d2168","g":"ec6c57b8.6ccf48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":1980,"wires":[["96a8c4dc.e41728"]]},{"id":"165d9b6d.442835","type":"comment","z":"a2a44461.0d2168","g":"ec6c57b8.6ccf48","name":"split Object 타입","info":"","x":160,"y":1920,"wires":[]},{"id":"20ed572a.86e618","type":"debug","z":"a2a44461.0d2168","g":"ca392356.687ba","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":2160,"wires":[]},{"id":"3a32e6f8.567c2a","type":"template","z":"a2a44461.0d2168","g":"ca392356.687ba","name":"data","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"[\n\"168\",\n\"78\",\n\"175\",\n\"65\",\n\"180\",\n\"160\",\n\"193\",\n\"100\"\n]","output":"json","x":320,"y":2160,"wires":[["3d6b1fb7.570cb"]]},{"id":"dc13b18d.bc06b","type":"inject","z":"a2a44461.0d2168","g":"ca392356.687ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":2160,"wires":[["3a32e6f8.567c2a"]]},{"id":"3d6b1fb7.570cb","type":"sort","z":"a2a44461.0d2168","g":"ca392356.687ba","name":"","order":"ascending","as_num":true,"target":"payload","targetType":"msg","msgKey":"","msgKeyType":"elem","seqKey":"payload","seqKeyType":"msg","x":470,"y":2160,"wires":[["20ed572a.86e618"]]},{"id":"35cb69aa.31a2d6","type":"comment","z":"a2a44461.0d2168","g":"ca392356.687ba","name":"6.13 Sort 노드 ","info":"","x":130,"y":2080,"wires":[]},{"id":"d0f58a70.1d7ad8","type":"debug","z":"a2a44461.0d2168","g":"ca392356.687ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":2240,"wires":[]},{"id":"db68e557.40d0b8","type":"template","z":"a2a44461.0d2168","g":"ca392356.687ba","name":"data","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"[\n    {\n        \"name\": \"홍길동\", \n        \"tall\": 183\n    },\n    {\n        \"name\": \"김영숙\", \n        \"tall\": 167\n    },\n    {\n        \"name\": \"김철수\", \n        \"tall\": 172\n    },    \n    {\n        \"name\": \"박홍철\",\n        \"tall\": 168\n    }\n]","output":"json","x":320,"y":2240,"wires":[["8144b80d.fdb378"]]},{"id":"5c9362ae.bf7d6c","type":"inject","z":"a2a44461.0d2168","g":"ca392356.687ba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":2240,"wires":[["db68e557.40d0b8"]]},{"id":"8144b80d.fdb378","type":"sort","z":"a2a44461.0d2168","g":"ca392356.687ba","name":"","order":"ascending","as_num":true,"target":"payload","targetType":"msg","msgKey":"tall","msgKeyType":"jsonata","seqKey":"payload","seqKeyType":"msg","x":470,"y":2240,"wires":[["d0f58a70.1d7ad8"]]},{"id":"7d4bcd70.496f34","type":"inject","z":"a2a44461.0d2168","g":"5fa0ccbf.0a7714","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":980,"y":260,"wires":[["ddd538bb.a19308"]]},{"id":"fd2101f9.e73c2","type":"debug","z":"a2a44461.0d2168","g":"5fa0ccbf.0a7714","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1370,"y":320,"wires":[]},{"id":"ddd538bb.a19308","type":"trigger","z":"a2a44461.0d2168","g":"5fa0ccbf.0a7714","name":"","op1":"Repeat call","op2":"0","op1type":"str","op2type":"str","duration":"-3","extend":false,"units":"s","reset":"Stop","bytopic":"all","topic":"topic","outputs":1,"x":1180,"y":320,"wires":[["fd2101f9.e73c2"]]},{"id":"89131754.456998","type":"inject","z":"a2a44461.0d2168","g":"5fa0ccbf.0a7714","name":"Stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Stop","payloadType":"str","x":970,"y":320,"wires":[["ddd538bb.a19308"]]},{"id":"f6524745.323388","type":"inject","z":"a2a44461.0d2168","g":"5fa0ccbf.0a7714","name":"Reset","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"reset","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":970,"y":380,"wires":[["ddd538bb.a19308"]]},{"id":"ee313922.f27c18","type":"comment","z":"a2a44461.0d2168","g":"5fa0ccbf.0a7714","name":"6.14 trigger 노드","info":"","x":940,"y":200,"wires":[]},{"id":"6134cb00.813804","type":"inject","z":"a2a44461.0d2168","g":"5fa0ccbf.0a7714","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":980,"y":460,"wires":[["dc105c43.4b9b8"]]},{"id":"9cb73dac.ce1ba","type":"debug","z":"a2a44461.0d2168","g":"5fa0ccbf.0a7714","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1370,"y":500,"wires":[]},{"id":"dc105c43.4b9b8","type":"trigger","z":"a2a44461.0d2168","g":"5fa0ccbf.0a7714","name":"","op1":"Only First Msg Recv","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1180,"y":500,"wires":[["9cb73dac.ce1ba"]]},{"id":"7cd45479.69578c","type":"inject","z":"a2a44461.0d2168","g":"5fa0ccbf.0a7714","name":"Reset","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"reset","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":970,"y":540,"wires":[["dc105c43.4b9b8"]]},{"id":"52830454.ba0adc","type":"debug","z":"a2a44461.0d2168","g":"caace462.3d20e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":700,"wires":[]},{"id":"a649e5c3.cf1b98","type":"split","z":"a2a44461.0d2168","g":"caace462.3d20e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1240,"y":700,"wires":[["256e71e1.61e9ae"]]},{"id":"2a0465be.73f85a","type":"template","z":"a2a44461.0d2168","g":"caace462.3d20e8","name":"data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"ABCDEF\n123456\n가나다마","output":"str","x":1100,"y":700,"wires":[["a649e5c3.cf1b98"]]},{"id":"ff29d2e6.c8ff9","type":"inject","z":"a2a44461.0d2168","g":"caace462.3d20e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":950,"y":700,"wires":[["2a0465be.73f85a"]]},{"id":"256e71e1.61e9ae","type":"join","z":"a2a44461.0d2168","g":"caace462.3d20e8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1390,"y":700,"wires":[["52830454.ba0adc"]]},{"id":"1f13738b.8a67cc","type":"comment","z":"a2a44461.0d2168","g":"caace462.3d20e8","name":"6.15 Join 노드","info":"","x":930,"y":640,"wires":[]},{"id":"4f33864b.1711f8","type":"inject","z":"a2a44461.0d2168","g":"caace462.3d20e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":940,"y":780,"wires":[["8abbabda.b5f288"]]},{"id":"8abbabda.b5f288","type":"template","z":"a2a44461.0d2168","g":"caace462.3d20e8","name":"data","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"javascript\njava\nnodejs\nC#\npython\nsql","output":"str","x":1090,"y":780,"wires":[["c2fcd365.76a8c"]]},{"id":"fadb927e.acde8","type":"join","z":"a2a44461.0d2168","g":"caace462.3d20e8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1390,"y":780,"wires":[["607586b1.454188"]]},{"id":"c2fcd365.76a8c","type":"split","z":"a2a44461.0d2168","g":"caace462.3d20e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1230,"y":780,"wires":[["fadb927e.acde8"]]},{"id":"607586b1.454188","type":"debug","z":"a2a44461.0d2168","g":"caace462.3d20e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":780,"wires":[]},{"id":"ec55f59.89f2408","type":"comment","z":"a2a44461.0d2168","g":"caace462.3d20e8","name":"수동 병합 모드","info":"","x":1400,"y":740,"wires":[]},{"id":"4d735ebe.a6362","type":"inject","z":"a2a44461.0d2168","g":"fb5fbd70.62a1f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello, World!","payloadType":"str","x":990,"y":940,"wires":[["7b7dcc8a.91c614","244faec5.afced2"]]},{"id":"7b7dcc8a.91c614","type":"delay","z":"a2a44461.0d2168","g":"fb5fbd70.62a1f","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":980,"wires":[["3d584e17.703622"]]},{"id":"3d584e17.703622","type":"debug","z":"a2a44461.0d2168","g":"fb5fbd70.62a1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1370,"y":980,"wires":[]},{"id":"244faec5.afced2","type":"debug","z":"a2a44461.0d2168","g":"fb5fbd70.62a1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":940,"wires":[]},{"id":"f00385d2.38cf78","type":"inject","z":"a2a44461.0d2168","g":"fb5fbd70.62a1f","name":"","props":[{"p":"payload"},{"p":"delay","v":"5000","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"delay 값이 5s 설정됨","payloadType":"str","x":970,"y":1220,"wires":[["f7369446.fe73f8","f74cba9b.3db9a8"]]},{"id":"f7369446.fe73f8","type":"delay","z":"a2a44461.0d2168","g":"fb5fbd70.62a1f","name":"","pauseType":"delayv","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":1280,"wires":[["4de0f096.5de45"]]},{"id":"4de0f096.5de45","type":"debug","z":"a2a44461.0d2168","g":"fb5fbd70.62a1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1370,"y":1280,"wires":[]},{"id":"f74cba9b.3db9a8","type":"debug","z":"a2a44461.0d2168","g":"fb5fbd70.62a1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":1220,"wires":[]},{"id":"c26978f1.c875a8","type":"inject","z":"a2a44461.0d2168","g":"fb5fbd70.62a1f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"delay 속성이 없음","payloadType":"str","x":970,"y":1280,"wires":[["f7369446.fe73f8"]]},{"id":"95046940.ae5ea8","type":"inject","z":"a2a44461.0d2168","g":"fb5fbd70.62a1f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello, World!","payloadType":"str","x":970,"y":1080,"wires":[["9ef62193.97414","4a9b5dc3.3ef834"]]},{"id":"9ef62193.97414","type":"delay","z":"a2a44461.0d2168","g":"fb5fbd70.62a1f","name":"","pauseType":"random","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":1120,"wires":[["3529e07e.8231"]]},{"id":"3529e07e.8231","type":"debug","z":"a2a44461.0d2168","g":"fb5fbd70.62a1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":1120,"wires":[]},{"id":"4a9b5dc3.3ef834","type":"debug","z":"a2a44461.0d2168","g":"fb5fbd70.62a1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":1080,"wires":[]},{"id":"5dbad044.b2e99","type":"comment","z":"a2a44461.0d2168","g":"e591ee0a.85855","name":"delay - Reset or flush 예제","info":"","x":990,"y":1380,"wires":[]},{"id":"ca4a07bb.0cb968","type":"inject","z":"a2a44461.0d2168","g":"e591ee0a.85855","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello, World!","payloadType":"str","x":970,"y":1460,"wires":[["6c54142e.0d84ec","b0a2c24e.f41a3"]]},{"id":"b0a2c24e.f41a3","type":"debug","z":"a2a44461.0d2168","g":"e591ee0a.85855","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":1460,"wires":[]},{"id":"6c54142e.0d84ec","type":"delay","z":"a2a44461.0d2168","g":"e591ee0a.85855","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":1520,"wires":[["90978899.31c9a8"]]},{"id":"90978899.31c9a8","type":"debug","z":"a2a44461.0d2168","g":"e591ee0a.85855","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1350,"y":1520,"wires":[]},{"id":"d9873e3.a989ac","type":"inject","z":"a2a44461.0d2168","g":"e591ee0a.85855","name":"Reset","props":[{"p":"topic","vt":"str"},{"p":"reset","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":950,"y":1520,"wires":[["6c54142e.0d84ec"]]},{"id":"41b325ba.376d5c","type":"inject","z":"a2a44461.0d2168","g":"e591ee0a.85855","name":"Flush","props":[{"p":"topic","vt":"str"},{"p":"flush","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":950,"y":1580,"wires":[["6c54142e.0d84ec"]]},{"id":"5159423b.930b7c","type":"comment","z":"a2a44461.0d2168","g":"fb5fbd70.62a1f","name":"6.16 delay 노드","info":"","x":940,"y":880,"wires":[]},{"id":"8c01dd3a.4b63d","type":"debug","z":"a2a44461.0d2168","g":"276f3f0b.7e78b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":1720,"wires":[]},{"id":"1e7ce987.29b326","type":"template","z":"a2a44461.0d2168","g":"276f3f0b.7e78b","name":"data","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"[\n\"ABCDEF\",\n\"123456\",\n\"가나다마\"\n]","output":"json","x":1120,"y":1720,"wires":[["39b770ae.649d"]]},{"id":"76072bc9.7ea564","type":"inject","z":"a2a44461.0d2168","g":"276f3f0b.7e78b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":970,"y":1720,"wires":[["1e7ce987.29b326"]]},{"id":"197f46e2.efe1c9","type":"delay","z":"a2a44461.0d2168","g":"276f3f0b.7e78b","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1410,"y":1720,"wires":[["8c01dd3a.4b63d"]]},{"id":"39b770ae.649d","type":"split","z":"a2a44461.0d2168","g":"276f3f0b.7e78b","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1250,"y":1720,"wires":[["197f46e2.efe1c9"]]},{"id":"dd355bfc.1dc658","type":"comment","z":"a2a44461.0d2168","g":"276f3f0b.7e78b","name":"delay - 일정 간격으로 메세지 지연","info":"","x":1020,"y":1680,"wires":[]},{"id":"8815fce5.be5ca","type":"inject","z":"a2a44461.0d2168","g":"e02c8f1f.93a7a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sample","payload":"[1,2,3,4,5]","payloadType":"json","x":1030,"y":2060,"wires":[["2b3b0786.db96d8"]]},{"id":"2b3b0786.db96d8","type":"split","z":"a2a44461.0d2168","g":"e02c8f1f.93a7a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1210,"y":2060,"wires":[["adaea41d.526f18"]]},{"id":"adaea41d.526f18","type":"batch","z":"a2a44461.0d2168","g":"e02c8f1f.93a7a","name":"","mode":"concat","count":10,"overlap":0,"interval":10,"allowEmptySequence":false,"topics":[{"topic":"sample"},{"topic":"sample"},{"topic":"sample"}],"x":1350,"y":2060,"wires":[["e04b6ccd.dcccf"]]},{"id":"e04b6ccd.dcccf","type":"join","z":"a2a44461.0d2168","g":"e02c8f1f.93a7a","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1490,"y":2060,"wires":[["ad7587c1.735e28"]]},{"id":"ad7587c1.735e28","type":"debug","z":"a2a44461.0d2168","g":"e02c8f1f.93a7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1650,"y":2060,"wires":[]},{"id":"f9d3686.3859398","type":"batch","z":"a2a44461.0d2168","g":"e02c8f1f.93a7a","name":"","mode":"count","count":"5","overlap":0,"interval":"5","allowEmptySequence":false,"topics":[],"x":1370,"y":1940,"wires":[["de0658f9.ff6b38"]]},{"id":"de0658f9.ff6b38","type":"join","z":"a2a44461.0d2168","g":"e02c8f1f.93a7a","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1510,"y":1940,"wires":[["35a6efc9.462ba"]]},{"id":"35a6efc9.462ba","type":"debug","z":"a2a44461.0d2168","g":"e02c8f1f.93a7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":1940,"wires":[]},{"id":"36daf5bb.bd93aa","type":"inject","z":"a2a44461.0d2168","g":"e02c8f1f.93a7a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1000,"y":1940,"wires":[["9289eb24.5957d8"]]},{"id":"9289eb24.5957d8","type":"function","z":"a2a44461.0d2168","g":"e02c8f1f.93a7a","name":"1부터 50까지 전달","func":"for(var x = 1; x <= 50; x++) {\n    node.send({payload: x});\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":1940,"wires":[["f9d3686.3859398"]]},{"id":"5555343.06ea4cc","type":"comment","z":"a2a44461.0d2168","g":"e02c8f1f.93a7a","name":"Batch 노드 - 숫자별 그룹화","info":"","x":1010,"y":1880,"wires":[]},{"id":"27945561.69b97a","type":"comment","z":"a2a44461.0d2168","g":"e02c8f1f.93a7a","name":"Batch 노드 - Concat 그룹화","info":"","x":1010,"y":2000,"wires":[]},{"id":"f470debe.69c9d","type":"inject","z":"a2a44461.0d2168","g":"c7cb2af8.61a098","name":"Ping","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":950,"y":2220,"wires":[["70719bff.d08874"]]},{"id":"70719bff.d08874","type":"exec","z":"a2a44461.0d2168","g":"c7cb2af8.61a098","command":"ping","addpay":false,"append":"www.google.com","useSpawn":"true","timer":"10","oldrc":false,"name":"","x":1150,"y":2260,"wires":[["eb9c316.62cecd"],["a6867668.7e6d28"],["9c2d85c6.2f9708"]]},{"id":"eb9c316.62cecd","type":"debug","z":"a2a44461.0d2168","g":"c7cb2af8.61a098","name":"Output","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1340,"y":2200,"wires":[]},{"id":"9c2d85c6.2f9708","type":"debug","z":"a2a44461.0d2168","g":"c7cb2af8.61a098","name":"Reason","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1340,"y":2320,"wires":[]},{"id":"a6867668.7e6d28","type":"debug","z":"a2a44461.0d2168","g":"c7cb2af8.61a098","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":2260,"wires":[]},{"id":"cd378fef.6b8ae","type":"inject","z":"a2a44461.0d2168","g":"c7cb2af8.61a098","name":"Kill process","props":[{"p":"kill","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":970,"y":2300,"wires":[["70719bff.d08874"]]},{"id":"406cbe58.7a77b","type":"inject","z":"a2a44461.0d2168","g":"c7cb2af8.61a098","name":"Run Notepad","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":970,"y":2440,"wires":[["1c8b0c6f.c2a834"]]},{"id":"1c8b0c6f.c2a834","type":"exec","z":"a2a44461.0d2168","g":"c7cb2af8.61a098","command":"notepad.exe","addpay":false,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"","x":1170,"y":2440,"wires":[[],[],["6971f7ce.be1658"]]},{"id":"6971f7ce.be1658","type":"debug","z":"a2a44461.0d2168","g":"c7cb2af8.61a098","name":"Reason","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1340,"y":2440,"wires":[]},{"id":"95cc33c0.d818d","type":"comment","z":"a2a44461.0d2168","g":"c7cb2af8.61a098","name":"6.18 exec 노드","info":"","x":950,"y":2160,"wires":[]},{"id":"f6df7997.e471a8","type":"comment","z":"a2a44461.0d2168","g":"ec6c57b8.6ccf48","name":"6.12 split 노드","info":"","x":130,"y":1640,"wires":[]},{"id":"7f09d22b.a3498c","type":"comment","z":"a2a44461.0d2168","g":"e02c8f1f.93a7a","name":"6.17 Batch 노드","info":"","x":940,"y":1840,"wires":[]},{"id":"5f71ee7a.171ad","type":"comment","z":"a2a44461.0d2168","name":"6.11 Comment 노드 입니다.","info":"","x":160,"y":1540,"wires":[]},{"id":"20b723cc.3eb83c","type":"comment","z":"a2a44461.0d2168","name":"사용법 ( 본노드를 더블 클릭 하세요)","info":"본 샘플은 6장 Node-RED의 핵심 노드 학습의 예제 입니다.\n현재 Grouping되어 있는 상태로 박스를 선택 후 Flow설정을 수정하여 사용하기 바랍니다.\n\n그룹 해제 : Shift + ctrl + u\n그룹화 설정 : Shift + ctrl + g\n\n그룹화 설명 7.3 챕터","x":180,"y":40,"wires":[]},{"id":"c233eeb4.e07c","type":"comment","z":"a2a44461.0d2168","name":"그룹 해제 : Shift + ctrl + u","info":"","x":210,"y":120,"wires":[]},{"id":"39d696fc.73c5ea","type":"comment","z":"a2a44461.0d2168","name":"그룹 해제 : Shift + ctrl + g","info":"","x":210,"y":80,"wires":[]}]