Node-RED-Study-Sample-Code/chapter_8_06_flows.json
[{"id":"a7e5ee41.065d5","type":"mqtt in","z":"dc11a1ac.7857d","name":"","topic":"node-red-study-korea-test-topic","qos":"2","datatype":"auto","broker":"79440c0e.9dadc4","x":270,"y":320,"wires":[["60a51d88.7073a4","764a7f31.eb80f"]]},{"id":"a636343.c48c4c8","type":"mqtt out","z":"dc11a1ac.7857d","name":"","topic":"node-red-study-korea-test-topic","qos":"","retain":"","broker":"79440c0e.9dadc4","x":530,"y":260,"wires":[]},{"id":"3743d136.52d20e","type":"comment","z":"dc11a1ac.7857d","name":"http://www.mqtt-dashboard.com/","info":"\nbroker url:\nbroker.mqtt-dashboard.com\n\nclient Id :\nnode-red-study-korea-testkit\n\ntopic : \nnode-red-study-korea-test-topic\n","x":530,"y":200,"wires":[]},{"id":"940e1152.c96d6","type":"inject","z":"dc11a1ac.7857d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"node-red send test message","payloadType":"str","x":210,"y":260,"wires":[["a636343.c48c4c8"]]},{"id":"60a51d88.7073a4","type":"debug","z":"dc11a1ac.7857d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":320,"wires":[]},{"id":"8ebd42f4.9dab9","type":"comment","z":"dc11a1ac.7857d","name":"MQTT 1","info":"","x":200,"y":140,"wires":[]},{"id":"6047af1d.5ec6d","type":"ui_text_input","z":"dc11a1ac.7857d","name":"","label":"","tooltip":"","group":"5f356b53.6e87c4","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":200,"y":200,"wires":[["a636343.c48c4c8"]]},{"id":"764a7f31.eb80f","type":"ui_text","z":"dc11a1ac.7857d","group":"5f356b53.6e87c4","order":4,"width":0,"height":0,"name":"","label":"수신값:","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":360,"wires":[]},{"id":"d458bb84.d668a8","type":"mqtt in","z":"dc11a1ac.7857d","name":"","topic":"node-red-study-korea-test-topic","qos":"2","datatype":"auto","broker":"79440c0e.9dadc4","x":270,"y":600,"wires":[["69c42d61.792804"]]},{"id":"6b3d6592.f4a2cc","type":"comment","z":"dc11a1ac.7857d","name":"http://www.mqtt-dashboard.com/","info":"\nbroker url:\nbroker.mqtt-dashboard.com\n\nclient Id :\nnode-red-study-korea-testkit\n\ntopic : \nnode-red-study-korea-test-topic\n","x":530,"y":480,"wires":[]},{"id":"b288521c.291ef","type":"inject","z":"dc11a1ac.7857d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Sending MQTT messages using node-red","payloadType":"str","x":210,"y":540,"wires":[["5be2c302.01c0bc"]]},{"id":"69c42d61.792804","type":"debug","z":"dc11a1ac.7857d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":600,"wires":[]},{"id":"5be2c302.01c0bc","type":"mqtt out","z":"dc11a1ac.7857d","name":"","topic":"node-red-study-korea-test-topic","qos":"","retain":"","broker":"79440c0e.9dadc4","x":530,"y":540,"wires":[]},{"id":"db1e51d2.962f1","type":"comment","z":"dc11a1ac.7857d","name":"MQTT 2","info":"","x":200,"y":480,"wires":[]},{"id":"1874c931.f7c287","type":"comment","z":"dc11a1ac.7857d","name":"8.6 MQTT 메시지 발송 및 수신 만들기","info":"","x":270,"y":100,"wires":[]},{"id":"79440c0e.9dadc4","type":"mqtt-broker","z":"","name":"HiveMQ","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"node-red-study-korea-testkit","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5f356b53.6e87c4","type":"ui_group","z":"","name":"Home IOT","tab":"d6ffe48a.a5a218","order":2,"disp":true,"width":"6","collapse":false},{"id":"d6ffe48a.a5a218","type":"ui_tab","z":"","name":"MQTT","icon":"dashboard","disabled":false,"hidden":false}]