Node-RED-Study-Sample-Code/chapter_8_13_flows.json
[{"id":"f43d86ce.a6c5d8","type":"nora-switch","z":"dc11a1ac.7857d","devicename":"스위치","roomhint":"전등","name":"","passthru":false,"nora":"f7ee8acb.24d618","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":190,"y":240,"wires":[["b3a12d17.cad47","8a8b4ad5.d01488"]]},{"id":"b3a12d17.cad47","type":"debug","z":"dc11a1ac.7857d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":240,"wires":[]},{"id":"53875828.e418c8","type":"comment","z":"dc11a1ac.7857d","name":"8.13 Google Home 연동하기","info":"","x":200,"y":180,"wires":[]},{"id":"8a8b4ad5.d01488","type":"ui_switch","z":"dc11a1ac.7857d","name":"","label":"switch","tooltip":"","group":"3448da5d.f35b66","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":340,"wires":[["99fede82.4b42d","844fdb2e.f03de8"]]},{"id":"99fede82.4b42d","type":"debug","z":"dc11a1ac.7857d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":320,"wires":[]},{"id":"844fdb2e.f03de8","type":"ui_text","z":"dc11a1ac.7857d","group":"3448da5d.f35b66","order":1,"width":0,"height":0,"name":"","label":"스위치","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":380,"wires":[]},{"id":"db90438c.67017","type":"inject","z":"dc11a1ac.7857d","name":"True","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":320,"wires":[["8a8b4ad5.d01488"]]},{"id":"a5b6eff5.2cfa2","type":"inject","z":"dc11a1ac.7857d","name":"False","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":190,"y":360,"wires":[["8a8b4ad5.d01488"]]},{"id":"f7ee8acb.24d618","type":"nora-config","z":"","name":"nora config","group":"","notify":false},{"id":"3448da5d.f35b66","type":"ui_group","z":"","name":"Google Home","tab":"e6f6be9d.bd81c","order":1,"disp":true,"width":"6","collapse":false},{"id":"e6f6be9d.bd81c","type":"ui_tab","z":"","name":"Google Home","icon":"dashboard","disabled":false,"hidden":false}]