Node-RED-Study-Sample-Code/chapter_8_01_flows.json
[{"id":"de67cca2.14d41","type":"inject","z":"dc11a1ac.7857d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":140,"wires":[["979e7a62.c7b588"]]},{"id":"979e7a62.c7b588","type":"http request","z":"dc11a1ac.7857d","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"www.naver.com","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":140,"wires":[["49d16c01.082ac4","2422a858.ff0828"]]},{"id":"49d16c01.082ac4","type":"debug","z":"dc11a1ac.7857d","name":"request 를 통해 수신되는 값","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":140,"wires":[]},{"id":"41e25540.18767c","type":"comment","z":"dc11a1ac.7857d","name":"8.1 웹 크롤링 만들기(web crawling)","info":"","x":230,"y":100,"wires":[]},{"id":"2422a858.ff0828","type":"file","z":"dc11a1ac.7857d","name":"","filename":"C:\\\\node-sample\\\\index.html","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"utf8","x":590,"y":200,"wires":[["66a34007.607bd"]]},{"id":"66a34007.607bd","type":"debug","z":"dc11a1ac.7857d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":200,"wires":[]}]