Node-RED-Study-Sample-Code/chapter_8_05_flows.json
[{"id":"1dcebcee.584b83","type":"comment","z":"dc11a1ac.7857d","name":"8.5 Gmail 발송 및 수신 만들기","info":"","x":220,"y":100,"wires":[]},{"id":"2f89340.4c767cc","type":"inject","z":"dc11a1ac.7857d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"이메일 부분에 제목 입니다.","payload":"","payloadType":"date","x":270,"y":200,"wires":[["6fe99ae2.4f8bb4"]]},{"id":"6fe99ae2.4f8bb4","type":"template","z":"dc11a1ac.7857d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"노드레드를 이용하여 발송하는 메일 입니다.\n노드레드에 세계로 오신 것을 환영 합니다.\nInjecct node의 timestamp 값 : {{payload}} !\n","output":"str","x":500,"y":200,"wires":[["4769d255.aa705c","30610832.924898"]]},{"id":"4769d255.aa705c","type":"debug","z":"dc11a1ac.7857d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":140,"wires":[]},{"id":"30610832.924898","type":"e-mail","z":"dc11a1ac.7857d","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"수신자 이메일","dname":"G메일 SMTP 발송","x":690,"y":200,"wires":[]},{"id":"4fcfc272.3e776c","type":"debug","z":"dc11a1ac.7857d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":300,"wires":[]},{"id":"a6b99bb2.8822c8","type":"e-mail in","z":"dc11a1ac.7857d","name":"G메일 IMAP 수신","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"10","fetch":"auto","inputs":0,"x":220,"y":300,"wires":[["4fcfc272.3e776c"]]},{"id":"ccd07cc.698828","type":"comment","z":"dc11a1ac.7857d","name":"발신부","info":"","x":150,"y":160,"wires":[]},{"id":"216bbd17.1d7ce2","type":"comment","z":"dc11a1ac.7857d","name":"수신부","info":"","x":150,"y":260,"wires":[]}]