Node-RED-Study-Sample-Code/chapter_8_16_flows.json
[{"id":"80f8ae1a.cf995","type":"ifttt out","z":"dc11a1ac.7857d","eventName":"NODE-RED-IFTTT-EVENT","key":"f7bb4272.16288","x":580,"y":260,"wires":[]},{"id":"e5ddd626.8b6c68","type":"inject","z":"dc11a1ac.7857d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":260,"wires":[["a2e5b98f.df0078"]]},{"id":"a2e5b98f.df0078","type":"function","z":"dc11a1ac.7857d","name":"","func":"if(msg.payload){\n    msg = {\n      payload: {\n        \"value1\": \"첫번째 옵션 값\",\n        \"value2\": \"두번째 옵션 값\",\n        \"value3\": \"세번째 옵션 값\"\n      }\n    };\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":260,"wires":[["80f8ae1a.cf995"]]},{"id":"63486a49.7d0434","type":"comment","z":"dc11a1ac.7857d","name":"8.16 IFTTT 연동하기","info":"","x":210,"y":200,"wires":[]},{"id":"f7bb4272.16288","type":"ifttt-key","z":""}]