Node-RED-Study-Sample-Code/chapter_8_14_flows.json
[{"id":"7a41e3b7.49b9fc","type":"lgtv-toast","z":"dc11a1ac.7857d","tv":"1b24f4af.68b8bb","name":"","x":570,"y":240,"wires":[]},{"id":"3432d6bc.12589a","type":"inject","z":"dc11a1ac.7857d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"노드 레드를 통해서 메세지를 발송합니다.","payloadType":"str","x":300,"y":240,"wires":[["7a41e3b7.49b9fc"]]},{"id":"f9264f75.c4cc7","type":"lgtv-channel","z":"dc11a1ac.7857d","tv":"","name":"","payloadType":"channelNumber","passthru":true,"x":380,"y":360,"wires":[["cf9a7107.d82e6"]]},{"id":"6c056648.36c758","type":"inject","z":"dc11a1ac.7857d","name":"MBC","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"11","payloadType":"str","x":190,"y":300,"wires":[["f9264f75.c4cc7"]]},{"id":"bba37e5d.44984","type":"inject","z":"dc11a1ac.7857d","name":"KSB1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"9","payloadType":"str","x":190,"y":340,"wires":[["f9264f75.c4cc7"]]},{"id":"efe3de70.9b774","type":"inject","z":"dc11a1ac.7857d","name":"KSB2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7","payloadType":"str","x":190,"y":380,"wires":[["f9264f75.c4cc7"]]},{"id":"57a94c08.7be314","type":"inject","z":"dc11a1ac.7857d","name":"SBS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6","payloadType":"str","x":190,"y":420,"wires":[["f9264f75.c4cc7"]]},{"id":"72671d94.e94084","type":"lgtv-volume","z":"dc11a1ac.7857d","tv":"8ba6a6e9.076d68","name":"","passthru":true,"x":400,"y":520,"wires":[["48fe8a92.2daa34"]]},{"id":"bfad6f35.06ab4","type":"inject","z":"dc11a1ac.7857d","name":"Level 0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":190,"y":560,"wires":[["72671d94.e94084"]]},{"id":"83961c9d.347bc","type":"inject","z":"dc11a1ac.7857d","name":"Level 10","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":200,"y":520,"wires":[["72671d94.e94084"]]},{"id":"cfdfafe7.f9a53","type":"inject","z":"dc11a1ac.7857d","name":"Level 30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":200,"y":480,"wires":[["72671d94.e94084"]]},{"id":"cf9a7107.d82e6","type":"debug","z":"dc11a1ac.7857d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":360,"wires":[]},{"id":"48fe8a92.2daa34","type":"debug","z":"dc11a1ac.7857d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":520,"wires":[]},{"id":"e68c94c3.e9cd48","type":"comment","z":"dc11a1ac.7857d","name":"8.14 Smart TV 제어하기(LG webOS TV)","info":"","x":250,"y":180,"wires":[]},{"id":"1b24f4af.68b8bb","type":"lgtv-config","z":"","d":true,"host":"192.168.219.100"},{"id":"8ba6a6e9.076d68","type":"lgtv-config","z":"","host":"lgwebostv"}]