Node-RED-Study-Sample-Code/chapter_8_15_flows.json
[{"id":"1153a3f9.e271ac","type":"teachable machine","z":"dc11a1ac.7857d","name":"","mode":"online","modelUrl":"https://teachablemachine.withgoogle.com/models/5VG2feU2V/","localModel":"teachable_model","output":"best","activeThreshold":false,"threshold":80,"activeMaxResults":false,"maxResults":3,"passThrough":false,"x":630,"y":340,"wires":[["35161437.acd82c"]]},{"id":"35161437.acd82c","type":"debug","z":"dc11a1ac.7857d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":340,"wires":[]},{"id":"60638a88.ebfb44","type":"usbcamera","z":"dc11a1ac.7857d","filemode":"1","filename":"image_model.jpg","filedefpath":"0","filepath":"D:\\","fileformat":"jpeg","resolution":"4","name":"","x":390,"y":260,"wires":[["6bd654a7.315a7c"]]},{"id":"58fb5a1b.c4e0a4","type":"inject","z":"dc11a1ac.7857d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":260,"wires":[["60638a88.ebfb44"]]},{"id":"6bd654a7.315a7c","type":"file in","z":"dc11a1ac.7857d","name":"","filename":"D:\\image_model.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":590,"y":260,"wires":[["1153a3f9.e271ac"]]},{"id":"ea14e7b2.89cc18","type":"comment","z":"dc11a1ac.7857d","name":"8.15 인공지능을 연동하여 사물 구별하기(Teachable Machine)","info":"","x":320,"y":200,"wires":[]}]