Node-RED-Study-Sample-Code/chapter_8_group_1_to_6_flows.json
[{"id":"c42722a.b3627e","type":"tab","label":"Project 1~6","disabled":false,"info":""},{"id":"2ad2f4d0.effe7c","type":"group","z":"c42722a.b3627e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ddc63b2e.d3aa28","5260b34b.95ad5c","83f10e19.2b926","fe215c5f.62f26","d1136b59.b4fc28","af62a900.f1b0a8","3a2b3489.7b684c","3690f948.7bcbc6","6c1d94c1.e0a11c"],"x":14,"y":999,"w":732,"h":322},{"id":"371b711.195818e","type":"group","z":"c42722a.b3627e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f747dcbe.7409c","f03a8408.28f078","edab3bd5.bf1688","47dbe8b5.4cd748","a93dd006.f16ec","9dad40e6.f870d","38cfd819.85d548","e6adfc87.b7bf8","bd35be.be3f1a4","98c2d8fe.0c02b8","f6eff0dd.29b31","35b290b8.096ce","e827f9c.b07a208","8542e17d.5ee4b","f3be30a.e7346d"],"x":14,"y":1339,"w":592,"h":582},{"id":"405a8635.4d7de8","type":"group","z":"c42722a.b3627e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["80df8834.c88228","48b3db11.24b704","2c020f6d.aedb6"],"x":14,"y":439,"w":702,"h":142},{"id":"467e1dd1.85c284","type":"group","z":"c42722a.b3627e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["3ee567c.cf13098","b826c088.f2686","c0c3198.c3bc3e8","26245fdf.fec3a","b0c97719.11d848","7b4c27bf.8c9c28","3d7abf1b.e9aba","e4366744.1d8378","657f478.02009b8"],"x":14,"y":619,"w":662,"h":362},{"id":"a3bb71a8.68f8","type":"group","z":"c42722a.b3627e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["528e0993.5b8fa8","8032991b.e05338","ba6a0f28.5f1a5","ac75624f.2350c","409eb19a.eecd7","7e88ce20.72c0d"],"x":14,"y":19,"w":852,"h":182},{"id":"a95c7032.5d871","type":"group","z":"c42722a.b3627e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["9b91de9f.447d8","857e500a.ff9d7","f022e1e4.211f","bc21b8ef.9115f8","e3851506.919648","4930362d.e03818","43d051d3.867f1","4ee729bd.f3ad08","7ec8d931.d13ab8"],"x":14,"y":219,"w":1072,"h":202},{"id":"528e0993.5b8fa8","type":"inject","z":"c42722a.b3627e","g":"a3bb71a8.68f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["8032991b.e05338"]]},{"id":"8032991b.e05338","type":"http request","z":"c42722a.b3627e","g":"a3bb71a8.68f8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"www.naver.com","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":100,"wires":[["ba6a0f28.5f1a5","409eb19a.eecd7"]]},{"id":"ba6a0f28.5f1a5","type":"debug","z":"c42722a.b3627e","g":"a3bb71a8.68f8","name":"request 를 통해 수신되는 값","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":100,"wires":[]},{"id":"ac75624f.2350c","type":"comment","z":"c42722a.b3627e","g":"a3bb71a8.68f8","name":"8.1 웹 크롤링 만들기(web crawling)","info":"","x":180,"y":60,"wires":[]},{"id":"409eb19a.eecd7","type":"file","z":"c42722a.b3627e","g":"a3bb71a8.68f8","name":"","filename":"C:\\\\node-sample\\\\index.html","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"utf8","x":540,"y":160,"wires":[["7e88ce20.72c0d"]]},{"id":"7e88ce20.72c0d","type":"debug","z":"c42722a.b3627e","g":"a3bb71a8.68f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":160,"wires":[]},{"id":"9b91de9f.447d8","type":"comment","z":"c42722a.b3627e","g":"a95c7032.5d871","name":"8.2 TEXT, CSV 파일 읽기","info":"","x":150,"y":260,"wires":[]},{"id":"857e500a.ff9d7","type":"inject","z":"c42722a.b3627e","g":"a95c7032.5d871","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":320,"wires":[["f022e1e4.211f"]]},{"id":"f022e1e4.211f","type":"file in","z":"c42722a.b3627e","g":"a95c7032.5d871","name":"","filename":"C:\\node-sample\\score.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":350,"y":320,"wires":[["bc21b8ef.9115f8","7ec8d931.d13ab8"]]},{"id":"bc21b8ef.9115f8","type":"csv","z":"c42722a.b3627e","g":"a95c7032.5d871","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":550,"y":320,"wires":[["4ee729bd.f3ad08","43d051d3.867f1"]]},{"id":"e3851506.919648","type":"join","z":"c42722a.b3627e","g":"a95c7032.5d871","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":830,"y":320,"wires":[["4930362d.e03818"]]},{"id":"4930362d.e03818","type":"debug","z":"c42722a.b3627e","g":"a95c7032.5d871","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":320,"wires":[]},{"id":"43d051d3.867f1","type":"switch","z":"c42722a.b3627e","g":"a95c7032.5d871","name":"","property":"payload.score","propertyType":"msg","rules":[{"t":"gte","v":"70","vt":"num"}],"checkall":"true","repair":true,"outputs":1,"x":690,"y":320,"wires":[["e3851506.919648"]]},{"id":"4ee729bd.f3ad08","type":"debug","z":"c42722a.b3627e","g":"a95c7032.5d871","name":"CSV 처리 결과","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":260,"wires":[]},{"id":"7ec8d931.d13ab8","type":"debug","z":"c42722a.b3627e","g":"a95c7032.5d871","name":"txt로드 결과","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":380,"wires":[]},{"id":"3ee567c.cf13098","type":"inject","z":"c42722a.b3627e","d":true,"g":"467e1dd1.85c284","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":720,"wires":[["b826c088.f2686"]]},{"id":"b826c088.f2686","type":"cpu","z":"c42722a.b3627e","g":"467e1dd1.85c284","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":360,"y":720,"wires":[["c0c3198.c3bc3e8","26245fdf.fec3a"]]},{"id":"c0c3198.c3bc3e8","type":"debug","z":"c42722a.b3627e","g":"467e1dd1.85c284","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":780,"wires":[]},{"id":"26245fdf.fec3a","type":"ui_gauge","z":"c42722a.b3627e","g":"467e1dd1.85c284","name":"","group":"6831770e.3c5238","order":1,"width":0,"height":0,"gtype":"gage","title":"CPU performance","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":720,"wires":[]},{"id":"b0c97719.11d848","type":"comment","z":"c42722a.b3627e","g":"467e1dd1.85c284","name":"8.4 CPU 사용량 Dashboard 만들기","info":"","x":180,"y":660,"wires":[]},{"id":"7b4c27bf.8c9c28","type":"ui_slider","z":"c42722a.b3627e","g":"467e1dd1.85c284","name":"","label":"slider","tooltip":"","group":"6831770e.3c5238","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":170,"y":880,"wires":[["3d7abf1b.e9aba","e4366744.1d8378"]]},{"id":"3d7abf1b.e9aba","type":"ui_gauge","z":"c42722a.b3627e","g":"467e1dd1.85c284","name":"","group":"6831770e.3c5238","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":340,"y":880,"wires":[]},{"id":"e4366744.1d8378","type":"ui_chart","z":"c42722a.b3627e","g":"467e1dd1.85c284","name":"","group":"6831770e.3c5238","order":5,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":340,"y":940,"wires":[[]]},{"id":"657f478.02009b8","type":"comment","z":"c42722a.b3627e","g":"467e1dd1.85c284","name":"slider를 통해서 gauge, chart 변경","info":"","x":220,"y":840,"wires":[]},{"id":"ddc63b2e.d3aa28","type":"comment","z":"c42722a.b3627e","g":"2ad2f4d0.effe7c","name":"8.5 Gmail 발송 및 수신 만들기","info":"","x":160,"y":1040,"wires":[]},{"id":"5260b34b.95ad5c","type":"inject","z":"c42722a.b3627e","g":"2ad2f4d0.effe7c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"이메일 부분에 제목 입니다.","payload":"","payloadType":"date","x":210,"y":1140,"wires":[["83f10e19.2b926"]]},{"id":"83f10e19.2b926","type":"template","z":"c42722a.b3627e","g":"2ad2f4d0.effe7c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"노드레드를 이용하여 발송하는 메일 입니다.\n노드레드에 세계로 오신 것을 환영 합니다.\nInjecct node의 timestamp 값 : {{payload}} !\n","output":"str","x":440,"y":1140,"wires":[["fe215c5f.62f26","d1136b59.b4fc28"]]},{"id":"fe215c5f.62f26","type":"debug","z":"c42722a.b3627e","g":"2ad2f4d0.effe7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":1080,"wires":[]},{"id":"d1136b59.b4fc28","type":"e-mail","z":"c42722a.b3627e","g":"2ad2f4d0.effe7c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"수신자 이메일","dname":"G메일 SMTP 발송","x":630,"y":1140,"wires":[]},{"id":"af62a900.f1b0a8","type":"debug","z":"c42722a.b3627e","g":"2ad2f4d0.effe7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":1280,"wires":[]},{"id":"3a2b3489.7b684c","type":"e-mail in","z":"c42722a.b3627e","d":true,"g":"2ad2f4d0.effe7c","name":"G메일 IMAP 수신","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"10","fetch":"auto","inputs":0,"x":300,"y":1280,"wires":[["af62a900.f1b0a8"]]},{"id":"3690f948.7bcbc6","type":"comment","z":"c42722a.b3627e","g":"2ad2f4d0.effe7c","name":"발신부","info":"","x":90,"y":1100,"wires":[]},{"id":"6c1d94c1.e0a11c","type":"comment","z":"c42722a.b3627e","g":"2ad2f4d0.effe7c","name":"수신부","info":"","x":230,"y":1240,"wires":[]},{"id":"80df8834.c88228","type":"feedparse","z":"c42722a.b3627e","d":true,"g":"405a8635.4d7de8","name":"","url":"https://www.yonhapnewstv.co.kr/category/news/headline/feed/","interval":"1","x":280,"y":540,"wires":[["48b3db11.24b704"]]},{"id":"48b3db11.24b704","type":"debug","z":"c42722a.b3627e","g":"405a8635.4d7de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":540,"wires":[]},{"id":"2c020f6d.aedb6","type":"comment","z":"c42722a.b3627e","g":"405a8635.4d7de8","name":"8.3 RSS Feed를 통해 최신 뉴스 조회하기","info":"","x":200,"y":480,"wires":[]},{"id":"f747dcbe.7409c","type":"mqtt in","z":"c42722a.b3627e","g":"371b711.195818e","name":"","topic":"node-red-study-korea-test-topic","qos":"2","datatype":"auto","broker":"79440c0e.9dadc4","x":190,"y":1600,"wires":[["a93dd006.f16ec","e6adfc87.b7bf8"]]},{"id":"f03a8408.28f078","type":"mqtt out","z":"c42722a.b3627e","g":"371b711.195818e","name":"","topic":"node-red-study-korea-test-topic","qos":"","retain":"","broker":"79440c0e.9dadc4","x":450,"y":1540,"wires":[]},{"id":"edab3bd5.bf1688","type":"comment","z":"c42722a.b3627e","g":"371b711.195818e","name":"http://www.mqtt-dashboard.com/","info":"\nbroker url:\nbroker.mqtt-dashboard.com\n\nclient Id :\nnode-red-study-korea-testkit\n\ntopic : \nnode-red-study-korea-test-topic\n","x":450,"y":1480,"wires":[]},{"id":"47dbe8b5.4cd748","type":"inject","z":"c42722a.b3627e","g":"371b711.195818e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"node-red send test message","payloadType":"str","x":130,"y":1540,"wires":[["f03a8408.28f078"]]},{"id":"a93dd006.f16ec","type":"debug","z":"c42722a.b3627e","g":"371b711.195818e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":1600,"wires":[]},{"id":"9dad40e6.f870d","type":"comment","z":"c42722a.b3627e","g":"371b711.195818e","name":"MQTT 1","info":"","x":120,"y":1420,"wires":[]},{"id":"38cfd819.85d548","type":"ui_text_input","z":"c42722a.b3627e","g":"371b711.195818e","name":"","label":"","tooltip":"","group":"5f356b53.6e87c4","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":120,"y":1480,"wires":[["f03a8408.28f078"]]},{"id":"e6adfc87.b7bf8","type":"ui_text","z":"c42722a.b3627e","g":"371b711.195818e","group":"5f356b53.6e87c4","order":4,"width":0,"height":0,"name":"","label":"수신값:","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":1640,"wires":[]},{"id":"bd35be.be3f1a4","type":"mqtt in","z":"c42722a.b3627e","g":"371b711.195818e","name":"","topic":"node-red-study-korea-test-topic","qos":"2","datatype":"auto","broker":"79440c0e.9dadc4","x":190,"y":1880,"wires":[["35b290b8.096ce"]]},{"id":"98c2d8fe.0c02b8","type":"comment","z":"c42722a.b3627e","g":"371b711.195818e","name":"http://www.mqtt-dashboard.com/","info":"\nbroker url:\nbroker.mqtt-dashboard.com\n\nclient Id :\nnode-red-study-korea-testkit\n\ntopic : \nnode-red-study-korea-test-topic\n","x":450,"y":1760,"wires":[]},{"id":"f6eff0dd.29b31","type":"inject","z":"c42722a.b3627e","g":"371b711.195818e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Sending MQTT messages using node-red","payloadType":"str","x":130,"y":1820,"wires":[["e827f9c.b07a208"]]},{"id":"35b290b8.096ce","type":"debug","z":"c42722a.b3627e","g":"371b711.195818e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":1880,"wires":[]},{"id":"e827f9c.b07a208","type":"mqtt out","z":"c42722a.b3627e","g":"371b711.195818e","name":"","topic":"node-red-study-korea-test-topic","qos":"","retain":"","broker":"79440c0e.9dadc4","x":450,"y":1820,"wires":[]},{"id":"8542e17d.5ee4b","type":"comment","z":"c42722a.b3627e","g":"371b711.195818e","name":"MQTT 2","info":"","x":120,"y":1760,"wires":[]},{"id":"f3be30a.e7346d","type":"comment","z":"c42722a.b3627e","g":"371b711.195818e","name":"8.6 MQTT 메시지 발송 및 수신 만들기","info":"","x":190,"y":1380,"wires":[]},{"id":"6831770e.3c5238","type":"ui_group","z":"","name":"Chart","tab":"b2675584.17b408","order":1,"disp":true,"width":"6","collapse":false},{"id":"79440c0e.9dadc4","type":"mqtt-broker","z":"","name":"HiveMQ","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"node-red-study-korea-testkit","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5f356b53.6e87c4","type":"ui_group","z":"","name":"Home IOT","tab":"d6ffe48a.a5a218","order":2,"disp":true,"width":"6","collapse":false},{"id":"b2675584.17b408","type":"ui_tab","z":"","name":"Chart","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d6ffe48a.a5a218","type":"ui_tab","z":"","name":"MQTT","icon":"dashboard","disabled":false,"hidden":false}]