Node-RED-Study-Sample-Code/chapter_8_11_flows.json
[{"id":"e3d70630.7e3588","type":"telegram receiver","z":"dc11a1ac.7857d","name":"","bot":"143a6b52.fdd965","saveDataDir":"","filterCommands":false,"x":210,"y":360,"wires":[["8e4113d8.61ded","5112586a.9ed298","a5b3f7d.9ca2108"],["5112586a.9ed298","a5b3f7d.9ca2108"]]},{"id":"8e4113d8.61ded","type":"debug","z":"dc11a1ac.7857d","name":"수신받은 메시지","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":320,"wires":[]},{"id":"eba48b0c.79ab78","type":"telegram sender","z":"dc11a1ac.7857d","name":"","bot":"143a6b52.fdd965","x":590,"y":400,"wires":[["44d215fd.84658c"]]},{"id":"5112586a.9ed298","type":"function","z":"dc11a1ac.7857d","name":"","func":"msg.payload.content = \"Bot Echo : \" + msg.payload.content;\nmsg.payload.chatId = msg.payload.chatId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":400,"wires":[["eba48b0c.79ab78"]]},{"id":"44d215fd.84658c","type":"debug","z":"dc11a1ac.7857d","name":"응답한 메시지","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":400,"wires":[]},{"id":"a82bf57c.2f3838","type":"comment","z":"dc11a1ac.7857d","name":"8.11 Telegram Bot 만들기(Http노드 이용)","info":"","x":260,"y":280,"wires":[]},{"id":"c80b5c1.e5c56a","type":"http request","z":"dc11a1ac.7857d","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1209615657:AAEdmsC23VlQatR8HBxsIHTVrPvh1rXxzh4/sendMessage?chat_id={{{payload.chatId}}}&text={{{payload.content}}}","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":460,"wires":[["b888ae38.8ef0f"]]},{"id":"b888ae38.8ef0f","type":"debug","z":"dc11a1ac.7857d","name":"웹을 통한 응답 메시지","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":460,"wires":[]},{"id":"a5b3f7d.9ca2108","type":"function","z":"dc11a1ac.7857d","name":"","func":"msg.payload.content = encodeURI(\"Http node Echo : \" + msg.payload.content);\nmsg.payload.chatId = msg.payload.chatId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":460,"wires":[["c80b5c1.e5c56a"]]},{"id":"9ea87613.aca0a8","type":"telegram receiver","z":"dc11a1ac.7857d","name":"","bot":"143a6b52.fdd965","saveDataDir":"","filterCommands":false,"x":210,"y":140,"wires":[["4802b098.b0bf5","c6684e0c.04bb3"],["c6684e0c.04bb3"]]},{"id":"4802b098.b0bf5","type":"debug","z":"dc11a1ac.7857d","name":"수신받은 메시지","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":100,"wires":[]},{"id":"8b8f0eba.bfb7e","type":"telegram sender","z":"dc11a1ac.7857d","name":"","bot":"143a6b52.fdd965","x":590,"y":180,"wires":[["bc4b81e3.9d83a"]]},{"id":"c6684e0c.04bb3","type":"function","z":"dc11a1ac.7857d","name":"","func":"msg.payload.content = \"Bot Echo : \" + msg.payload.content;\nmsg.payload.chatId = msg.payload.chatId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":180,"wires":[["8b8f0eba.bfb7e"]]},{"id":"bc4b81e3.9d83a","type":"debug","z":"dc11a1ac.7857d","name":"응답한 메시지","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":180,"wires":[]},{"id":"e9440126.e6a3e","type":"comment","z":"dc11a1ac.7857d","name":"8.11 Telegram Bot 만들기","info":"","x":210,"y":80,"wires":[]},{"id":"143a6b52.fdd965","type":"telegram bot","z":"","botname":"Node-RED-Echo-bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]