Node-RED-Study-Sample-Code/chapter_8_12_flows.json
[{"id":"5c1a8e7f.ef8e9","type":"comment","z":"dc11a1ac.7857d","name":"8.12 SQLite를 활용한 주소록 만들기(2) - Dashboad UI를 통한 조회","info":"","x":320,"y":380,"wires":[]},{"id":"1d736def.0935f2","type":"inject","z":"dc11a1ac.7857d","name":"조회 ( Select )","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from contact","payload":"","payloadType":"date","x":190,"y":420,"wires":[["4548a608.fd81a8"]]},{"id":"4548a608.fd81a8","type":"sqlite","z":"dc11a1ac.7857d","mydb":"484cfb96.440c84","sqlquery":"msg.topic","sql":"","name":"","x":390,"y":420,"wires":[["595e7803.71e158"]]},{"id":"595e7803.71e158","type":"ui_template","z":"dc11a1ac.7857d","group":"86dde2f.4bee42","name":"","order":0,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>이름</th> \n    <th>전화번호</th>\n    <th>나이</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td>{{msg.payload[$index].name}}</td>\n    <td>{{msg.payload[$index].phone}}</td> \n    <td>{{msg.payload[$index].age}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":580,"y":420,"wires":[[]]},{"id":"7f119e4c.da443","type":"inject","z":"dc11a1ac.7857d","name":"Database 생성","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"create table contact(  name text primary key not null,  phone text,  age int );","payload":"","payloadType":"date","x":200,"y":100,"wires":[["53b81c5a.4202f4"]]},{"id":"53b81c5a.4202f4","type":"sqlite","z":"dc11a1ac.7857d","mydb":"484cfb96.440c84","sqlquery":"msg.topic","sql":"","name":"","x":590,"y":160,"wires":[["cf60b5c7.c2e268"]]},{"id":"cf60b5c7.c2e268","type":"debug","z":"dc11a1ac.7857d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":160,"wires":[]},{"id":"190dbd0c.91a7d3","type":"inject","z":"dc11a1ac.7857d","name":"등록( Insert )","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":160,"wires":[["cdc01037.8d278"]]},{"id":"cdc01037.8d278","type":"function","z":"dc11a1ac.7857d","name":"","func":"var randomNum = Math.round(Math.random()*100);\n\nvar newMsg = {\n \"topic\": \"INSERT INTO contact VALUES ( '테스트\" + randomNum + \"', '000-0000-0000', \" + randomNum + \")\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":160,"wires":[["53b81c5a.4202f4"]]},{"id":"cfbef637.16a3b8","type":"inject","z":"dc11a1ac.7857d","name":"조회 ( Select )","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from contact","payload":"","payloadType":"date","x":190,"y":220,"wires":[["53b81c5a.4202f4"]]},{"id":"99db818.bd2078","type":"inject","z":"dc11a1ac.7857d","name":"삭제 ( Delete )","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"delete from contact ","payload":"","payloadType":"date","x":190,"y":280,"wires":[["53b81c5a.4202f4"]]},{"id":"a6a378c1.5a0868","type":"comment","z":"dc11a1ac.7857d","name":"8.12 SQLite를 활용한 주소록 만들기(1)","info":"create table contact(\n\tname text primary key not null,\n\tphone text,\n\tage int\n)\n\ncreate table contact(  name text primary key not null,  phone text,  age int );\n\n","x":230,"y":60,"wires":[]},{"id":"391e20fa.32827","type":"inject","z":"dc11a1ac.7857d","name":"조회 ( Select )","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from contact","payload":"","payloadType":"date","x":670,"y":780,"wires":[["3b5f97c3.5781a8"]]},{"id":"3b5f97c3.5781a8","type":"sqlite","z":"dc11a1ac.7857d","mydb":"484cfb96.440c84","sqlquery":"msg.topic","sql":"","name":"","x":870,"y":780,"wires":[["bfe9a17b.90453"]]},{"id":"bfe9a17b.90453","type":"ui_template","z":"dc11a1ac.7857d","group":"83164ce4.849ba","name":"","order":0,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>이름</th> \n    <th>전화번호</th>\n    <th>나이</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td>{{msg.payload[$index].name}}</td>\n    <td>{{msg.payload[$index].phone}}</td> \n    <td>{{msg.payload[$index].age}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1020,"y":780,"wires":[[]]},{"id":"b1d8546b.2a68e8","type":"ui_text_input","z":"dc11a1ac.7857d","name":"","label":"이름","tooltip":"","group":"83164ce4.849ba","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":150,"y":580,"wires":[["f1969488.012ef8"]]},{"id":"1ecd0622.db1afa","type":"ui_text_input","z":"dc11a1ac.7857d","name":"","label":"전화번호","tooltip":"","group":"83164ce4.849ba","order":2,"width":0,"height":0,"passthru":true,"mode":"tel","delay":300,"topic":"","x":140,"y":640,"wires":[["2656a9b2.520396"]]},{"id":"bd13c024.5078","type":"ui_button","z":"dc11a1ac.7857d","name":"","group":"83164ce4.849ba","order":3,"width":0,"height":0,"passthru":false,"label":"등록","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":510,"y":640,"wires":[["fdc087d4.d97c58"]]},{"id":"f7c6f5a.3674c08","type":"ui_text_input","z":"dc11a1ac.7857d","name":"","label":"나이","tooltip":"","group":"83164ce4.849ba","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":150,"y":700,"wires":[["31fdbbcd.49dc64"]]},{"id":"f1969488.012ef8","type":"change","z":"dc11a1ac.7857d","name":"","rules":[{"t":"set","p":"name","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":580,"wires":[["bd13c024.5078"]]},{"id":"2656a9b2.520396","type":"change","z":"dc11a1ac.7857d","name":"","rules":[{"t":"set","p":"phone","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":640,"wires":[["bd13c024.5078"]]},{"id":"31fdbbcd.49dc64","type":"change","z":"dc11a1ac.7857d","name":"","rules":[{"t":"set","p":"age","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":700,"wires":[["bd13c024.5078"]]},{"id":"fdc087d4.d97c58","type":"function","z":"dc11a1ac.7857d","name":"","func":"var newMsg = {\n \"topic\": \"INSERT INTO contact VALUES ( '\" + flow.get(\"name\") + \"', '\"+flow.get(\"phone\")+\"', \" + flow.get(\"age\") + \")\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":640,"wires":[["3247f7fd.c31388"]]},{"id":"3247f7fd.c31388","type":"sqlite","z":"dc11a1ac.7857d","mydb":"484cfb96.440c84","sqlquery":"msg.topic","sql":"","name":"","x":850,"y":640,"wires":[["7e08a363.a1605c","736ed67e.cfdad8"]]},{"id":"7e08a363.a1605c","type":"debug","z":"dc11a1ac.7857d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":580,"wires":[]},{"id":"736ed67e.cfdad8","type":"function","z":"dc11a1ac.7857d","name":"전체 조회( Select )","func":"var newMsg = {\n \"topic\": \"select * from contact\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":640,"wires":[["3b5f97c3.5781a8"]]},{"id":"cace558f.857e18","type":"comment","z":"dc11a1ac.7857d","name":"8.12 SQLite를 활용한 주소록 만들기(3) - SQLite를 활용한 주소록","info":"","x":310,"y":520,"wires":[]},{"id":"636f53b6.3ba9ec","type":"comment","z":"dc11a1ac.7857d","name":"Dashboad UI를 통한 조회(동일 부분)","info":"","x":660,"y":720,"wires":[]},{"id":"484cfb96.440c84","type":"sqlitedb","z":"","db":"D:\\sqlite.db","mode":"RWC"},{"id":"86dde2f.4bee42","type":"ui_group","z":"","name":"SQLite","tab":"7ebd9053.a603b","order":2,"disp":true,"width":"6","collapse":false},{"id":"83164ce4.849ba","type":"ui_group","z":"","name":"주소록","tab":"8c669732.db53c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"7ebd9053.a603b","type":"ui_tab","z":"","name":"List","icon":"dashboard","disabled":false,"hidden":false},{"id":"8c669732.db53c8","type":"ui_tab","z":"","name":"Contact List","icon":"dashboard","disabled":false,"hidden":false}]