Node-RED-Study-Sample-Code/chapter_8_17_flows.json
[{"id":"e4ff4198.5e669","type":"inject","z":"dc11a1ac.7857d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":240,"wires":[["9fa1ec38.92ded"]]},{"id":"6747ac08.025b94","type":"debug","z":"dc11a1ac.7857d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":240,"wires":[]},{"id":"9fa1ec38.92ded","type":"timestamp-to-date","z":"dc11a1ac.7857d","name":"","x":390,"y":240,"wires":[["6747ac08.025b94"]]},{"id":"9ac44ac4.aa2908","type":"comment","z":"dc11a1ac.7857d","name":"8.17 사용자 정의 노드 만들기","info":"","x":220,"y":200,"wires":[]}]