Node-RED-Study-Sample-Code/chapter_8_group_12_to_17_flows.json
[{"id":"96ffec56.9179f","type":"tab","label":"Project 12~17","disabled":false,"info":""},{"id":"1336d0d0.76ed3f","type":"group","z":"96ffec56.9179f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ed33770c.486498","b283d699.5998e8","a9b6eab.4d26218","a9d46823.ef43c8"],"x":54,"y":1899,"w":632,"h":142},{"id":"17cdd761.81a8c9","type":"group","z":"96ffec56.9179f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["abd6466e.e931e8","ca04f2ec.74769","a0303584.253378","a2ce6f92.526d2"],"x":54,"y":359,"w":612,"h":122},{"id":"71851c95.4b6824","type":"group","z":"96ffec56.9179f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8c916ca3.299c1","e244fe0.7974","9a84f830.c8af28","e30252ef.625c9","6193e030.c9584","9473518.a445fb","2cd06488.dc3b1c","8b515b5e.00dea8"],"x":54,"y":39,"w":852,"h":302},{"id":"80549d2e.68829","type":"group","z":"96ffec56.9179f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["68a2b5af.caaf3c","a6831c6.32720e","ac32359e.44cee8","56c0ebe1.deb884","dfba864a.b09028","a429e85b.035908","45cf700.9aed19","6ba65398.3a93bc","e16a831d.3eb8a","8e547c09.a37f3","c045d55f.35f608","db9bdb2b.390ea8","a6d25b7a.71df48","e12b8f38.e3383"],"x":54,"y":1159,"w":602,"h":462},{"id":"9f303735.282788","type":"group","z":"96ffec56.9179f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b364fe36.0e6a5","9e3fcd65.37e4f","934e9f7c.9826a","4a44ce8f.20ef4","6c145d6a.d0abb4","7ba544bc.6fe38c","90b35b0e.73ded8","b2f00ab4.19d148"],"x":54,"y":859,"w":632,"h":282},{"id":"b511970b.1d58a8","type":"group","z":"96ffec56.9179f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8bd55c9.15d8ba","2984cd29.271da2","f91d65e.412a798","7b59e2bb.1e7b9c"],"x":54,"y":2059,"w":632,"h":122},{"id":"e7912bca.f74fe8","type":"group","z":"96ffec56.9179f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["9157dda8.801ee","74297406.6b48cc","f56b3420.367318","ad80de59.d83ce","ac9925e9.392e68","944ce72b.15eb88","433a1ef8.9c46d","fe0c1052.f6f83","a7dc5036.2c241","dddc0d08.3ae74","33ea0294.a0db2e","9b8598eb.cc3b28","290bacb.57d4654","b06d6064.654d9","2c137f3e.b1e6","b911044b.259938"],"x":54,"y":499,"w":1152,"h":342},{"id":"edaa03af.7ed33","type":"group","z":"96ffec56.9179f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["351a6675.1a352a","1fb7bf8e.efb44","afa8041.a39f4f8","817c8528.e1e3f8","be0b4e6b.5c127","151367d.4c74198"],"x":54,"y":1659,"w":852,"h":222},{"id":"8c916ca3.299c1","type":"inject","z":"96ffec56.9179f","g":"71851c95.4b6824","name":"Database 생성","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"create table contact(  name text primary key not null,  phone text,  age int );","payload":"","payloadType":"date","x":200,"y":120,"wires":[["e244fe0.7974"]]},{"id":"e244fe0.7974","type":"sqlite","z":"96ffec56.9179f","g":"71851c95.4b6824","mydb":"484cfb96.440c84","sqlquery":"msg.topic","sql":"","name":"","x":590,"y":180,"wires":[["9a84f830.c8af28"]]},{"id":"9a84f830.c8af28","type":"debug","z":"96ffec56.9179f","g":"71851c95.4b6824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":180,"wires":[]},{"id":"e30252ef.625c9","type":"inject","z":"96ffec56.9179f","g":"71851c95.4b6824","name":"등록( Insert )","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":180,"wires":[["6193e030.c9584"]]},{"id":"6193e030.c9584","type":"function","z":"96ffec56.9179f","g":"71851c95.4b6824","name":"","func":"var randomNum = Math.round(Math.random()*100);\n\nvar newMsg = {\n \"topic\": \"INSERT INTO contact VALUES ( '테스트\" + randomNum + \"', '000-0000-0000', \" + randomNum + \")\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":180,"wires":[["e244fe0.7974"]]},{"id":"9473518.a445fb","type":"inject","z":"96ffec56.9179f","g":"71851c95.4b6824","name":"조회 ( Select )","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from contact","payload":"","payloadType":"date","x":190,"y":240,"wires":[["e244fe0.7974"]]},{"id":"2cd06488.dc3b1c","type":"inject","z":"96ffec56.9179f","g":"71851c95.4b6824","name":"삭제 ( Delete )","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"delete from contact ","payload":"","payloadType":"date","x":190,"y":300,"wires":[["e244fe0.7974"]]},{"id":"8b515b5e.00dea8","type":"comment","z":"96ffec56.9179f","g":"71851c95.4b6824","name":"8.12 SQLite를 활용한 주소록 만들기(1)","info":"create table contact(\n\tname text primary key not null,\n\tphone text,\n\tage int\n)\n\ncreate table contact(  name text primary key not null,  phone text,  age int );\n\n","x":230,"y":80,"wires":[]},{"id":"abd6466e.e931e8","type":"comment","z":"96ffec56.9179f","g":"17cdd761.81a8c9","name":"8.12 SQLite를 활용한 주소록 만들기(2) - Dashboad UI를 통한 조회","info":"","x":320,"y":400,"wires":[]},{"id":"ca04f2ec.74769","type":"inject","z":"96ffec56.9179f","g":"17cdd761.81a8c9","name":"조회 ( Select )","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from contact","payload":"","payloadType":"date","x":190,"y":440,"wires":[["a0303584.253378"]]},{"id":"a0303584.253378","type":"sqlite","z":"96ffec56.9179f","g":"17cdd761.81a8c9","mydb":"484cfb96.440c84","sqlquery":"msg.topic","sql":"","name":"","x":390,"y":440,"wires":[["a2ce6f92.526d2"]]},{"id":"a2ce6f92.526d2","type":"ui_template","z":"96ffec56.9179f","g":"17cdd761.81a8c9","group":"86dde2f.4bee42","name":"","order":0,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>이름</th> \n    <th>전화번호</th>\n    <th>나이</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td>{{msg.payload[$index].name}}</td>\n    <td>{{msg.payload[$index].phone}}</td> \n    <td>{{msg.payload[$index].age}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":580,"y":440,"wires":[[]]},{"id":"9157dda8.801ee","type":"inject","z":"96ffec56.9179f","g":"e7912bca.f74fe8","name":"조회 ( Select )","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from contact","payload":"","payloadType":"date","x":670,"y":800,"wires":[["74297406.6b48cc"]]},{"id":"74297406.6b48cc","type":"sqlite","z":"96ffec56.9179f","g":"e7912bca.f74fe8","mydb":"484cfb96.440c84","sqlquery":"msg.topic","sql":"","name":"","x":870,"y":800,"wires":[["f56b3420.367318"]]},{"id":"f56b3420.367318","type":"ui_template","z":"96ffec56.9179f","g":"e7912bca.f74fe8","group":"83164ce4.849ba","name":"","order":0,"width":0,"height":0,"format":"<table style=\"width:100%\">\n  <tr>\n    <th>이름</th> \n    <th>전화번호</th>\n    <th>나이</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td>{{msg.payload[$index].name}}</td>\n    <td>{{msg.payload[$index].phone}}</td> \n    <td>{{msg.payload[$index].age}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1020,"y":800,"wires":[[]]},{"id":"ad80de59.d83ce","type":"ui_text_input","z":"96ffec56.9179f","g":"e7912bca.f74fe8","name":"","label":"이름","tooltip":"","group":"83164ce4.849ba","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":150,"y":600,"wires":[["fe0c1052.f6f83"]]},{"id":"ac9925e9.392e68","type":"ui_text_input","z":"96ffec56.9179f","g":"e7912bca.f74fe8","name":"","label":"전화번호","tooltip":"","group":"83164ce4.849ba","order":2,"width":0,"height":0,"passthru":true,"mode":"tel","delay":300,"topic":"","x":140,"y":660,"wires":[["a7dc5036.2c241"]]},{"id":"944ce72b.15eb88","type":"ui_button","z":"96ffec56.9179f","g":"e7912bca.f74fe8","name":"","group":"83164ce4.849ba","order":3,"width":0,"height":0,"passthru":false,"label":"등록","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":510,"y":660,"wires":[["33ea0294.a0db2e"]]},{"id":"433a1ef8.9c46d","type":"ui_text_input","z":"96ffec56.9179f","g":"e7912bca.f74fe8","name":"","label":"나이","tooltip":"","group":"83164ce4.849ba","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":150,"y":720,"wires":[["dddc0d08.3ae74"]]},{"id":"fe0c1052.f6f83","type":"change","z":"96ffec56.9179f","g":"e7912bca.f74fe8","name":"","rules":[{"t":"set","p":"name","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":600,"wires":[["944ce72b.15eb88"]]},{"id":"a7dc5036.2c241","type":"change","z":"96ffec56.9179f","g":"e7912bca.f74fe8","name":"","rules":[{"t":"set","p":"phone","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":660,"wires":[["944ce72b.15eb88"]]},{"id":"dddc0d08.3ae74","type":"change","z":"96ffec56.9179f","g":"e7912bca.f74fe8","name":"","rules":[{"t":"set","p":"age","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":720,"wires":[["944ce72b.15eb88"]]},{"id":"33ea0294.a0db2e","type":"function","z":"96ffec56.9179f","g":"e7912bca.f74fe8","name":"","func":"var newMsg = {\n \"topic\": \"INSERT INTO contact VALUES ( '\" + flow.get(\"name\") + \"', '\"+flow.get(\"phone\")+\"', \" + flow.get(\"age\") + \")\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":660,"wires":[["9b8598eb.cc3b28"]]},{"id":"9b8598eb.cc3b28","type":"sqlite","z":"96ffec56.9179f","g":"e7912bca.f74fe8","mydb":"484cfb96.440c84","sqlquery":"msg.topic","sql":"","name":"","x":850,"y":660,"wires":[["290bacb.57d4654","b06d6064.654d9"]]},{"id":"290bacb.57d4654","type":"debug","z":"96ffec56.9179f","g":"e7912bca.f74fe8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":600,"wires":[]},{"id":"b06d6064.654d9","type":"function","z":"96ffec56.9179f","g":"e7912bca.f74fe8","name":"전체 조회( Select )","func":"var newMsg = {\n \"topic\": \"select * from contact\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":660,"wires":[["74297406.6b48cc"]]},{"id":"2c137f3e.b1e6","type":"comment","z":"96ffec56.9179f","g":"e7912bca.f74fe8","name":"8.12 SQLite를 활용한 주소록 만들기(3) - SQLite를 활용한 주소록","info":"","x":310,"y":540,"wires":[]},{"id":"b911044b.259938","type":"comment","z":"96ffec56.9179f","g":"e7912bca.f74fe8","name":"Dashboad UI를 통한 조회(동일 부분)","info":"","x":660,"y":740,"wires":[]},{"id":"351a6675.1a352a","type":"teachable machine","z":"96ffec56.9179f","g":"edaa03af.7ed33","name":"","mode":"online","modelUrl":"https://teachablemachine.withgoogle.com/models/5VG2feU2V/","localModel":"teachable_model","output":"best","activeThreshold":false,"threshold":80,"activeMaxResults":false,"maxResults":3,"passThrough":false,"x":610,"y":1840,"wires":[["1fb7bf8e.efb44"]]},{"id":"1fb7bf8e.efb44","type":"debug","z":"96ffec56.9179f","g":"edaa03af.7ed33","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":1840,"wires":[]},{"id":"afa8041.a39f4f8","type":"usbcamera","z":"96ffec56.9179f","g":"edaa03af.7ed33","filemode":"1","filename":"image_model.jpg","filedefpath":"0","filepath":"D:\\","fileformat":"jpeg","resolution":"4","name":"","x":370,"y":1760,"wires":[["be0b4e6b.5c127"]]},{"id":"817c8528.e1e3f8","type":"inject","z":"96ffec56.9179f","g":"edaa03af.7ed33","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1760,"wires":[["afa8041.a39f4f8"]]},{"id":"be0b4e6b.5c127","type":"file in","z":"96ffec56.9179f","g":"edaa03af.7ed33","name":"","filename":"D:\\image_model.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":570,"y":1760,"wires":[["351a6675.1a352a"]]},{"id":"151367d.4c74198","type":"comment","z":"96ffec56.9179f","g":"edaa03af.7ed33","name":"8.15 인공지능을 연동하여 사물 구별하기(Teachable Machine)","info":"","x":300,"y":1700,"wires":[]},{"id":"8bd55c9.15d8ba","type":"inject","z":"96ffec56.9179f","g":"b511970b.1d58a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2140,"wires":[["f91d65e.412a798"]]},{"id":"2984cd29.271da2","type":"debug","z":"96ffec56.9179f","g":"b511970b.1d58a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":2140,"wires":[]},{"id":"f91d65e.412a798","type":"timestamp-to-date","z":"96ffec56.9179f","g":"b511970b.1d58a8","name":"","x":370,"y":2140,"wires":[["2984cd29.271da2"]]},{"id":"7b59e2bb.1e7b9c","type":"comment","z":"96ffec56.9179f","g":"b511970b.1d58a8","name":"8.17 사용자 정의 노드 만들기","info":"","x":200,"y":2100,"wires":[]},{"id":"b364fe36.0e6a5","type":"nora-switch","z":"96ffec56.9179f","g":"9f303735.282788","devicename":"스위치","roomhint":"전등","name":"","passthru":false,"nora":"f7ee8acb.24d618","topic":"","onvalue":"true","onvalueType":"bool","offvalue":"false","offvalueType":"bool","x":190,"y":960,"wires":[["9e3fcd65.37e4f","4a44ce8f.20ef4"]]},{"id":"9e3fcd65.37e4f","type":"debug","z":"96ffec56.9179f","g":"9f303735.282788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":960,"wires":[]},{"id":"934e9f7c.9826a","type":"comment","z":"96ffec56.9179f","g":"9f303735.282788","name":"8.13 Google Home 연동하기","info":"","x":200,"y":900,"wires":[]},{"id":"4a44ce8f.20ef4","type":"ui_switch","z":"96ffec56.9179f","g":"9f303735.282788","name":"","label":"switch","tooltip":"","group":"3448da5d.f35b66","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":1060,"wires":[["6c145d6a.d0abb4","7ba544bc.6fe38c"]]},{"id":"6c145d6a.d0abb4","type":"debug","z":"96ffec56.9179f","g":"9f303735.282788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":1040,"wires":[]},{"id":"7ba544bc.6fe38c","type":"ui_text","z":"96ffec56.9179f","g":"9f303735.282788","group":"3448da5d.f35b66","order":1,"width":0,"height":0,"name":"","label":"스위치","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":1100,"wires":[]},{"id":"90b35b0e.73ded8","type":"inject","z":"96ffec56.9179f","g":"9f303735.282788","name":"True","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":1040,"wires":[["4a44ce8f.20ef4"]]},{"id":"b2f00ab4.19d148","type":"inject","z":"96ffec56.9179f","g":"9f303735.282788","name":"False","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":190,"y":1080,"wires":[["4a44ce8f.20ef4"]]},{"id":"68a2b5af.caaf3c","type":"lgtv-toast","z":"96ffec56.9179f","d":true,"g":"80549d2e.68829","tv":"1b24f4af.68b8bb","name":"","x":550,"y":1260,"wires":[]},{"id":"a6831c6.32720e","type":"inject","z":"96ffec56.9179f","g":"80549d2e.68829","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"노드 레드를 통해서 메세지를 발송합니다.","payloadType":"str","x":280,"y":1260,"wires":[["68a2b5af.caaf3c"]]},{"id":"ac32359e.44cee8","type":"lgtv-channel","z":"96ffec56.9179f","d":true,"g":"80549d2e.68829","tv":"","name":"","payloadType":"channelNumber","passthru":true,"x":360,"y":1380,"wires":[["db9bdb2b.390ea8"]]},{"id":"56c0ebe1.deb884","type":"inject","z":"96ffec56.9179f","g":"80549d2e.68829","name":"MBC","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"11","payloadType":"str","x":170,"y":1320,"wires":[["ac32359e.44cee8"]]},{"id":"dfba864a.b09028","type":"inject","z":"96ffec56.9179f","g":"80549d2e.68829","name":"KSB1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"9","payloadType":"str","x":170,"y":1360,"wires":[["ac32359e.44cee8"]]},{"id":"a429e85b.035908","type":"inject","z":"96ffec56.9179f","g":"80549d2e.68829","name":"KSB2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7","payloadType":"str","x":170,"y":1400,"wires":[["ac32359e.44cee8"]]},{"id":"45cf700.9aed19","type":"inject","z":"96ffec56.9179f","g":"80549d2e.68829","name":"SBS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6","payloadType":"str","x":170,"y":1440,"wires":[["ac32359e.44cee8"]]},{"id":"6ba65398.3a93bc","type":"lgtv-volume","z":"96ffec56.9179f","d":true,"g":"80549d2e.68829","tv":"8ba6a6e9.076d68","name":"","passthru":true,"x":380,"y":1540,"wires":[["a6d25b7a.71df48"]]},{"id":"e16a831d.3eb8a","type":"inject","z":"96ffec56.9179f","g":"80549d2e.68829","name":"Level 0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":170,"y":1580,"wires":[["6ba65398.3a93bc"]]},{"id":"8e547c09.a37f3","type":"inject","z":"96ffec56.9179f","g":"80549d2e.68829","name":"Level 10","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":180,"y":1540,"wires":[["6ba65398.3a93bc"]]},{"id":"c045d55f.35f608","type":"inject","z":"96ffec56.9179f","g":"80549d2e.68829","name":"Level 30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":180,"y":1500,"wires":[["6ba65398.3a93bc"]]},{"id":"db9bdb2b.390ea8","type":"debug","z":"96ffec56.9179f","g":"80549d2e.68829","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":1380,"wires":[]},{"id":"a6d25b7a.71df48","type":"debug","z":"96ffec56.9179f","g":"80549d2e.68829","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":1540,"wires":[]},{"id":"e12b8f38.e3383","type":"comment","z":"96ffec56.9179f","g":"80549d2e.68829","name":"8.14 Smart TV 제어하기(LG webOS TV)","info":"","x":230,"y":1200,"wires":[]},{"id":"ed33770c.486498","type":"ifttt out","z":"96ffec56.9179f","g":"1336d0d0.76ed3f","eventName":"NODE-RED-IFTTT-EVENT","key":"f7bb4272.16288","x":540,"y":2000,"wires":[]},{"id":"b283d699.5998e8","type":"inject","z":"96ffec56.9179f","g":"1336d0d0.76ed3f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":2000,"wires":[["a9b6eab.4d26218"]]},{"id":"a9b6eab.4d26218","type":"function","z":"96ffec56.9179f","g":"1336d0d0.76ed3f","name":"","func":"if(msg.payload){\n    msg = {\n      payload: {\n        \"value1\": \"첫번째 옵션 값\",\n        \"value2\": \"두번째 옵션 값\",\n        \"value3\": \"세번째 옵션 값\"\n      }\n    };\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":2000,"wires":[["ed33770c.486498"]]},{"id":"a9d46823.ef43c8","type":"comment","z":"96ffec56.9179f","g":"1336d0d0.76ed3f","name":"8.16 IFTTT 연동하기","info":"","x":170,"y":1940,"wires":[]},{"id":"484cfb96.440c84","type":"sqlitedb","z":"","db":"D:\\sqlite.db","mode":"RWC"},{"id":"86dde2f.4bee42","type":"ui_group","z":"","name":"SQLite","tab":"7ebd9053.a603b","order":2,"disp":true,"width":"6","collapse":false},{"id":"83164ce4.849ba","type":"ui_group","z":"","name":"주소록","tab":"8c669732.db53c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f7ee8acb.24d618","type":"nora-config","z":"","name":"nora config","group":"","notify":false},{"id":"3448da5d.f35b66","type":"ui_group","z":"","name":"Google Home","tab":"e6f6be9d.bd81c","order":1,"disp":true,"width":"6","collapse":false},{"id":"1b24f4af.68b8bb","type":"lgtv-config","z":"","d":true,"host":"192.168.219.100"},{"id":"8ba6a6e9.076d68","type":"lgtv-config","z":"","host":"lgwebostv"},{"id":"f7bb4272.16288","type":"ifttt-key","z":""},{"id":"7ebd9053.a603b","type":"ui_tab","z":"","name":"List","icon":"dashboard","disabled":false,"hidden":false},{"id":"8c669732.db53c8","type":"ui_tab","z":"","name":"Contact List","icon":"dashboard","disabled":false,"hidden":false},{"id":"e6f6be9d.bd81c","type":"ui_tab","z":"","name":"Google Home","icon":"dashboard","disabled":false,"hidden":false}]