Node-RED-Study-Sample-Code/chapter_8_10_flows.json
[{"id":"57f4ed7e.134174","type":"play audio","z":"dc11a1ac.7857d","name":"","voice":"0","x":450,"y":340,"wires":[]},{"id":"b38b2fa5.226f9","type":"inject","z":"dc11a1ac.7857d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"이것은 얼마 입니까?","payloadType":"str","x":210,"y":340,"wires":[["57f4ed7e.134174"]]},{"id":"12801cb.ae39fe3","type":"ui_text_input","z":"dc11a1ac.7857d","name":"","label":"번역할 한국어를 입력하세요.","tooltip":"","group":"f055e784.423d88","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":"1000","topic":"","x":220,"y":500,"wires":[["f088f484.667e78"]]},{"id":"f088f484.667e78","type":"google-translate","z":"dc11a1ac.7857d","name":"","to":"en","x":460,"y":500,"wires":[["2b7b357b.398c9a","66c1092f.5c4808"]]},{"id":"66c1092f.5c4808","type":"ui_audio","z":"dc11a1ac.7857d","name":"","group":"f055e784.423d88","voice":"en-US","always":false,"x":640,"y":520,"wires":[]},{"id":"2b7b357b.398c9a","type":"ui_text","z":"dc11a1ac.7857d","group":"f055e784.423d88","order":4,"width":"6","height":"2","name":"","label":"영어로 변역된 결과","format":"{{msg.payload}}","layout":"col-center","x":670,"y":460,"wires":[]},{"id":"85f41b91.160e08","type":"inject","z":"dc11a1ac.7857d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"이것은 얼마 입니까?","payloadType":"str","x":210,"y":200,"wires":[["f1c66eb0.dcb21"]]},{"id":"f1c66eb0.dcb21","type":"google-translate","z":"dc11a1ac.7857d","name":"","to":"en","x":420,"y":200,"wires":[["8e209239.85ac1"]]},{"id":"8e209239.85ac1","type":"debug","z":"dc11a1ac.7857d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":200,"wires":[]},{"id":"dd171d46.06a51","type":"comment","z":"dc11a1ac.7857d","name":"한글을 영어로 번역하기","info":"","x":200,"y":140,"wires":[]},{"id":"c7ae4929.6c31a8","type":"comment","z":"dc11a1ac.7857d","name":"한글을 음성으로 출력하기","info":"","x":210,"y":280,"wires":[]},{"id":"c8cea1a5.2722a","type":"comment","z":"dc11a1ac.7857d","name":"한글로 입력된 내용을 영어로 번역 후 음성으로 출력하기","info":"","x":300,"y":440,"wires":[]},{"id":"cff4ef81.580c2","type":"comment","z":"dc11a1ac.7857d","name":"8.10 Google 번역 연동 및 TTS 만들기(Text-to-Speech)","info":"","x":290,"y":80,"wires":[]},{"id":"f055e784.423d88","type":"ui_group","z":"","name":"Google","tab":"184a6ecd.7be501","order":1,"disp":true,"width":"6","collapse":false},{"id":"184a6ecd.7be501","type":"ui_tab","z":"","name":"Translate & SST","icon":"dashboard","disabled":false,"hidden":false}]