Node-RED-Study-Sample-Code/chapter_8_04_flows.json
[{"id":"fc0b82c9.3b32f","type":"inject","z":"dc11a1ac.7857d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":180,"wires":[["fd55a797.e5a638"]]},{"id":"fd55a797.e5a638","type":"cpu","z":"dc11a1ac.7857d","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":400,"y":180,"wires":[["2baac056.be207","50e8a10c.de72d"]]},{"id":"2baac056.be207","type":"debug","z":"dc11a1ac.7857d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":240,"wires":[]},{"id":"50e8a10c.de72d","type":"ui_gauge","z":"dc11a1ac.7857d","name":"","group":"6831770e.3c5238","order":1,"width":0,"height":0,"gtype":"gage","title":"CPU performance","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":180,"wires":[]},{"id":"97a9bbda.4024a8","type":"comment","z":"dc11a1ac.7857d","name":"8.4 CPU 사용량 Dashboard 만들기","info":"","x":220,"y":120,"wires":[]},{"id":"8067908e.cd6c2","type":"ui_slider","z":"dc11a1ac.7857d","name":"","label":"slider","tooltip":"","group":"6831770e.3c5238","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":210,"y":340,"wires":[["30e6784f.1fcb38","6d9dedba.cb1c74"]]},{"id":"30e6784f.1fcb38","type":"ui_gauge","z":"dc11a1ac.7857d","name":"","group":"6831770e.3c5238","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":340,"wires":[]},{"id":"6d9dedba.cb1c74","type":"ui_chart","z":"dc11a1ac.7857d","name":"","group":"6831770e.3c5238","order":5,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":380,"y":400,"wires":[[]]},{"id":"81e9d7b9.a2eff8","type":"comment","z":"dc11a1ac.7857d","name":"slider를 통해서 gauge, chart 변경","info":"","x":260,"y":300,"wires":[]},{"id":"6831770e.3c5238","type":"ui_group","z":"","name":"Chart","tab":"b2675584.17b408","order":1,"disp":true,"width":"6","collapse":false},{"id":"b2675584.17b408","type":"ui_tab","z":"","name":"Chart","icon":"dashboard","order":1,"disabled":false,"hidden":false}]