Node-RED-Study-Sample-Code/chapter_8_02_flows.json
[{"id":"738fe3d1.38b32c","type":"comment","z":"dc11a1ac.7857d","name":"8.2 TEXT, CSV 파일 읽기","info":"","x":150,"y":80,"wires":[]},{"id":"e976811d.a1316","type":"inject","z":"dc11a1ac.7857d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["ed5af29.4a2b91"]]},{"id":"ed5af29.4a2b91","type":"file in","z":"dc11a1ac.7857d","name":"","filename":"C:\\node-sample\\score.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":350,"y":140,"wires":[["b44d42a8.27f14","d00e657a.ad4008"]]},{"id":"b44d42a8.27f14","type":"csv","z":"dc11a1ac.7857d","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":550,"y":140,"wires":[["da42ba83.1005a8","b7724e6c.82965"]]},{"id":"cf91bcea.42864","type":"join","z":"dc11a1ac.7857d","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":830,"y":140,"wires":[["2c459d6b.4945d2"]]},{"id":"2c459d6b.4945d2","type":"debug","z":"dc11a1ac.7857d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":140,"wires":[]},{"id":"b7724e6c.82965","type":"switch","z":"dc11a1ac.7857d","name":"","property":"payload.score","propertyType":"msg","rules":[{"t":"gte","v":"70","vt":"num"}],"checkall":"true","repair":true,"outputs":1,"x":690,"y":140,"wires":[["cf91bcea.42864"]]},{"id":"da42ba83.1005a8","type":"debug","z":"dc11a1ac.7857d","name":"CSV 처리 결과","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":80,"wires":[]},{"id":"d00e657a.ad4008","type":"debug","z":"dc11a1ac.7857d","name":"txt로드 결과","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":200,"wires":[]}]