Node-RED-Study-Sample-Code/chapter_8_09_flows.json
[{"id":"3d608b8e.2063a4","type":"openweathermap","z":"dc11a1ac.7857d","name":"서울 날씨","wtype":"current","lon":"","lat":"","city":"Seoul","country":"Korea","language":"kr","x":440,"y":120,"wires":[["3217edb5.513e52"]]},{"id":"3217edb5.513e52","type":"debug","z":"dc11a1ac.7857d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"500376bf.982ae8","type":"inject","z":"dc11a1ac.7857d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":120,"wires":[["3d608b8e.2063a4","8edebdda.0550d","2babf9eb.c10f86"]]},{"id":"8edebdda.0550d","type":"openweathermap","z":"dc11a1ac.7857d","name":"부산 날씨","wtype":"current","lon":"","lat":"","city":"Busan","country":"Korea","language":"kr","x":440,"y":180,"wires":[["3217edb5.513e52"]]},{"id":"2babf9eb.c10f86","type":"openweathermap","z":"dc11a1ac.7857d","name":"제주도 날씨","wtype":"current","lon":"","lat":"","city":"Jeju-do","country":"Korea","language":"kr","x":450,"y":240,"wires":[["3217edb5.513e52"]]},{"id":"1fddc376.31ce1d","type":"comment","z":"dc11a1ac.7857d","name":"8.9 OpenWeather를 활용한 날씨 조회하기","info":"openweathermap.org ","x":320,"y":80,"wires":[]}]