Node-RED-Study-Sample-Code/chapter_8_08_flows.json
[{"id":"51e74117.2bcb5","type":"inject","z":"dc11a1ac.7857d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Node-RED를 통한 첫번째 트윗!!!","payloadType":"str","x":270,"y":180,"wires":[["22ac2abb.b396b6"]]},{"id":"2e207535.c667fa","type":"comment","z":"dc11a1ac.7857d","name":"8.8 Twitter 연동하기","info":"","x":170,"y":60,"wires":[]},{"id":"22ac2abb.b396b6","type":"twitter out","z":"dc11a1ac.7857d","twitter":"","name":"Tweet","x":550,"y":180,"wires":[]},{"id":"f74889f7.9257d8","type":"inject","z":"dc11a1ac.7857d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":300,"wires":[["3834c574.df54ba"]]},{"id":"7577c941.b089b8","type":"change","z":"dc11a1ac.7857d","name":"","rules":[{"t":"set","p":"media","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"이미지를 첨부한 트윗!!!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":300,"wires":[["3bd109e.f8b6ef6"]]},{"id":"3834c574.df54ba","type":"file in","z":"dc11a1ac.7857d","name":"","filename":"D:\\dev.JPG","format":"","chunk":false,"sendError":false,"encoding":"none","x":400,"y":300,"wires":[["7577c941.b089b8"]]},{"id":"3bd109e.f8b6ef6","type":"twitter out","z":"dc11a1ac.7857d","twitter":"","name":"Tweet","x":800,"y":300,"wires":[]},{"id":"fb2bdf81.49037","type":"comment","z":"dc11a1ac.7857d","name":"텍스트 트윗 등록","info":"","x":200,"y":140,"wires":[]},{"id":"448cff78.f00b2","type":"comment","z":"dc11a1ac.7857d","name":"텍스트 + 이미지 트윗 등록","info":"","x":230,"y":260,"wires":[]},{"id":"768d3592.de081c","type":"twitter in","z":"dc11a1ac.7857d","twitter":"","tags":"","user":"user","name":"","inputs":1,"x":170,"y":420,"wires":[["29b50e38.400672"]]},{"id":"29b50e38.400672","type":"debug","z":"dc11a1ac.7857d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":420,"wires":[]},{"id":"7a50ee4b.57a4","type":"comment","z":"dc11a1ac.7857d","name":"특정 사용자 트윗 수신","info":"","x":220,"y":380,"wires":[]},{"id":"9a5f5793.dadca8","type":"twitter in","z":"dc11a1ac.7857d","twitter":"","tags":"#Trump","user":"false","name":"Trump 로 태그가 작성된 트윗 수신","inputs":1,"x":260,"y":480,"wires":[["42347945.352cf8"]]},{"id":"42347945.352cf8","type":"debug","z":"dc11a1ac.7857d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":480,"wires":[]}]